.turnDeviceNotification {
	background-image:url('https://lh3.googleusercontent.com/cuVY2-lufZV8_RPUl3HABaWbyQVbmdvbsPFpVwwG6HXN=w1762-h829-no');
	background-size:cover;
	position:fixed;
	z-index: 5000;
	top: 0;
	left:0;
	height:100%;
	width:100%;
	display: none;
}