<body class='bg-img-2 bg-cover-screen bg-repeat-y'>
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id='project-index' class='section-1 bg-pebble-white pebble'>
			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Makerz.io | Contact Us</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">Our Primary Contact: <strong>EMAIL</strong></h2>
				</div>
				<div class="col-xs-12">
					<br>
				</div>
				<div class="col-xs-12">
					<div class="table-responsive">
						<table class="table table-hover">
							<tr>
								<td><i class="fa fa-envelope fa-lg"></i> Email:</td>
								<td class="success"><%= mail_to "makerz.io.founders@gmail.com" %></td>
							</tr>
							<tr>
								<td><i class="fa fa-phone fa-lg"></i> Phone:</td>
								<td>Coming Soon!</td>
							</tr>
							<tr>
								<td><i class="fa fa-building fa-lg"></i> Address:</td>
								<td>Coming Soon!</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-xs-12">
					<hr>
				</div>
				<div class="col-xs-12">
					<p class="text-sm">
						As for places and phone, we're getting one up as soon as possible. =)<br>
					</p>
				</div>
			</div>

		</section>
		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class="footer-spacing"></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>
