<body class='bg-img-2 bg-cover-screen bg-repeat-y'>
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id='project-index' class='section-1 bg-pebble-white pebble'>
			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Makerz.io | Explained</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<img class="img-auto-width" src="https://lh3.googleusercontent.com/aaQAaYY174-_uqDQbTGvkOc4vzysW0bWB58r_DayqqMc=w494-h329-no"></img>
					<h2 class="section-subtitle">What is Makerz.io?</h2>
					<p class="text-sm">Makerz.io is South East Asia Maker online community.<br>
						<br>
						We want to be a platform for you to connect and collaborate with other makers in the region.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<img class="img-auto-width" src="https://lh3.googleusercontent.com/yNW4b8tYVxltMQJlaEEPS9EJ5UKiwpCHhu-Xi5x3lQwG=w1235-h927-no"></img>
					<h2 class="section-subtitle">What Do We Offer?</h2>
					<p class="text-sm">
						Our very first step is getting others to know about you by building and managing your maker profile easily. We are here for that!<br>
						<br>
						With a few simple clicks you will have your own maker profile.<br>
						<br>
						Here is a <%= link_to 'Sneak Peek', 'http://hollowaykeanho.makerz.io/', target: "_blank" %>!<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<img class="img-auto-width" src="https://lh3.googleusercontent.com/haRe4eLVRxGmKZj8df1AJLKcwLTobmcnndyFNBIb-pkL=w483-h320-no"></img>
					<h2 class="section-subtitle">Do You Charge?</h2>
					<p class="text-sm">
						It's <strong>FREE</strong>. Entrance, default templates etc.<br>
						<br>
						<br>
						Customisation is available at your finger tip for a fee.<br>
						Have a chat with us about your requirement.<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<img class="img-auto-width" src="https://lh3.googleusercontent.com/FjmgxIya9miKLX-1qSrrfosAwNyBW_f18lklxoGUyVgN=w1389-h926-no"></img>
					<h2 class="section-subtitle">Easy to use?</h2>
					<p class="text-sm">
						Simple Form Filling<br>
						<br>
						We'll handle the tech, the codes, bit and bytes.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<img class="img-auto-width" src="https://lh3.googleusercontent.com/SaE-2gd0KAM35RkJPsuBkRPMwNP-wB_yU2k4EM_jySSI=w1398-h926-no"></img>
					<h2 class="section-subtitle">Can I Try?</h2>
					<p class="text-sm">
						Absolutely!<br>
						Makerz.io - Connecting Makers.<br>
						<br>
						<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-block btn-success' %>
					</p>

				</div>
			</div>

		</section>
		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class="footer-spacing"></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>
