<body class='bg-img-2 bg-cover-screen bg-repeat-y'>
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id='project-index' class='section-1 bg-pebble-white pebble'>
			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Privacy Policy</h1>
					<p class="text-sm">Last modified: April 14, 2014</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">Introduction</h2>
					<p class="text-sm">
						Makerz.io mission is to connect the world’s makers to allow them to be more productive and successful.<br>
						<br>
						Our registered users (“Members”) share their maker identities, engage with their network, exchange knowledge and insights, post and view relevant content, and find business and/or career opportunities.<br>
						<br>
						Content on some of our services is also visible to unregistered viewers (“Visitors”).<br>
						<br>
						We believe that our services allow our Members to effectively compete and their maker potentials to be found. The cornerstone of our business is to focus on our Members first.<br>
						<br>
						This Privacy Policy applies to Makerz.io and all other Makerz.io websites, apps, developer platforms and other products and services (collectively the “Services”).<br>
						<br>
						We may modify this Privacy Policy from time to time, and if we make material changes to it, we will provide notice through our Service, or by other means so that you may review the changes before you continue to use our Services.<br>
						<br>
						If you object to any changes, you may close your account.<br>
						<br>
						Continuing to use our Services after we publish or communicate a notice about any changes to this Privacy Policy means that you are consenting to the changes.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">What Information We Collect</h2>
					<h3 class="section-subtitle text-md">1.1 Data Controls</h3>
					<p class="text-sm">
						<strong>If you have any concern about providing information to us or having such information displayed on our Services or otherwise used in any manner permitted in this Privacy Policy and the User Agreement, you should not become a Member, visit our websites, apps or otherwise use our Services.</strong><br>
						<br>
						If you have already registered, you can close your accounts.<br>
						<br>
						We collect your personal information in the following ways:<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">1.2 Registration</h3>
					<p class="text-sm">
						To create an account on Makerz.io, you must provide us with at least your name, email address, a keyword for your profile subdomain and a password and agree to our User Agreement and this Privacy Policy, which governs how we treat your information.<br>
						<br>
						You may provide additional information during the registration flow (for example, makerz tags, social network link) to help you build your profile and to provide you more customized services (for example: language-specific profile pages, updates, content and more relevant ads if any).<br>
						<br>
						You understand that, by creating an account, we and others will be able to identify you by your Makerz.io profile. We may also ask for your credit card details if you purchase certain additional services.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">1.3 Profile Information</h3>
					<p class="text-sm">
						After you create a Makerz.io account, you may choose to provide additional information on your Makerz.io profile, such as makerz tags and social network links.<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">1.4 Customer Service</h3>
					<p class="text-sm">
						We collect information when you contact us for customer support.<br>
						<br>
						When you contact our customer support services (e.g. through emailing or help services), we may have to access your Makerz.io profile, makerz projects and other contributions to our Services and collect the information we need to categorize your question, respond to it, and, if applicable, investigate any breach of our User Agreement or this Privacy Policy.<br>
						<br>
						We also use this information to track potential problems and trends and customize our support responses to better serve you. We do not use this information for advertising.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">1.5 Using the Makerz.io Sites and Applications</h3>
					<p class="text-sm">
						We collect information when you visit our Services and interact with advertising on and off our Services.<br>
						<br>
						We collect information when you use (whether as a Member or a Visitor) our websites, applications or other Services.<br>
						<br>
						For example, we collect information when you view or click on ads on and off our Services, perform a search.<br>
						<br>
						If you are logged in on Makerz.io or another Service or one of our cookies on your device identifies you, your usage information and the log data described in Section 1.8 of this policy, such as your IP address, will be associated by us with your account.<br>
						<br>
						Even if you’re not logged into a Service, we log information about devices used to access our Services, including IP address.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">1.6. Using Third-Party Services and Visiting Third-Party Sites</h3>
					<p class="text-sm">
						We collect information when you use your account to sign in to other sites or services, and when you view web pages that include our plugins and cookies.<br>
						<br>
						You allow us to receive information when you use your account to log in to a third-party website or application.<br>
						<br>
						If you are logged in as a Member when you visit sites with our plugins, we use this information to recommend tailored content to you.<br>
						<br>
						We will use this information to personalize the functionality we provide on third-party sites, including providing you insights from your professional network and allowing you to share information with your network.<br>
						<br>
						Our retention of this data is addressed in Section 3.2.<br>
						<br>
						We may provide reports containing aggregated impression information to companies hosting our plugins and similar technologies to help them measure traffic to their websites, but no personal data.<br>
						<br>
						You also allow us to receive information about your visits and interaction with the sites and services of our partners that include our cookies and similar technologies, unless you opt out.<br>
						<br>
						If you are not a Member, we rely on the online terms between you and our partners.<br>
						<br>
					</p>
				</div>
			</div>



			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">1.7. Cookies</h3>
					<p class="text-sm">
						We use cookies and similar technologies to collect information.<br>
						<br>
						As described in our Cookie Policy, we use cookies and similar technologies, including mobile application identifiers, to help us recognize you across different Services, learn about your interests both on and off our Services, improve your experience, increase security, measure use and effectiveness of our Services, and serve advertising.<br>
						<br>
						You can control cookies through your browser settings and other tools.<br>
						<br>
						By visiting our Services, you consent to the placement of cookies and beacons in your browser and HTML-based emails in accordance with this Privacy Policy, which incorporates by reference our Cookie Policy.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">1.8. Log Files, IP Addresses, and Information About Your Computer and Mobile Device</h3>
					<p class="text-sm">
						We collect information from the devices and networks that you use to access our Services.<br>
						<br>
						When you visit or leave our Services (whether as a Member or Visitor) by clicking a hyperlink or when you view a third-party site that includes our plugin or cookies (or similar technology), we automatically receive the URL of the site from which you came or the one to which you are directed.<br>
						<br>
						Also, advertisers receive the URL of the page that you are on when you click an ad on or through our Services.<br>
						<br>
						We also receive the internet protocol (“IP”) address of your computer or the proxy server that you use to access the web, your computer operating system details, your type of web browser, your mobile device (including your mobile device identifier provided by your mobile device operating system), your mobile operating system (if you are accessing Makerz.io using a mobile device), and the name of your ISP or your mobile carrier.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">1.9. Other</h3>
					<p class="text-sm">
						We are constantly innovating to improve our Services, which means we may create new ways to collect information on the Services.<br>
						<br>
						Our Services are a dynamic, innovative environment, which means we are always seeking to improve the Services we offer you.<br>
						<br>
						We often introduce new features, some of which may result in the collection of new information.<br>
						<br>
						Furthermore, new partnerships or corporate acquisitions may result in new features, and we may potentially collect new types of information.<br>
						<br>
						If we start collecting substantially new types of personal information and materially change how we handle your data, we will modify this Privacy Policy and notify you in accordance with Section 4.2.<br>
						<br>
					</p>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">2 How We Use Your Information</h2>
					<h3 class="section-subtitle text-md">2.1. Consent to Makerz.io Processing Information About You</h3>
					<p class="text-sm">
						You agree that information you provide on your profile can be seen by others and used by us as described in this Privacy Policy and our User Agreement.<br>
						<br>
						The personal information that you provide to us may reveal or allow others to identify aspects of your life that are not expressly stated on your profile (for example, your picture or your name may reveal your gender).<br>
						<br>
						By providing personal information to us when you create or update your account and profile, you are expressly and voluntarily accepting the terms and conditions of our User Agreement and freely accepting and agreeing to our processing of your personal information in ways set out by this Privacy Policy.<br>
						<br>
						Supplying to us any information deemed “sensitive” by applicable law is entirely voluntary on your part.<br>
						<br>
						You can withdraw or modify your consent to our collection and processing of the information you provide at any time, in accordance with the terms of this Privacy Policy and the User Agreement, by changing your account settings or your profile on Makerz.io or by closing your Makerz.io accounts.
					</p>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">2.2. Makerz.io Communications</h3>
					<p class="text-sm">
						We communicate with you using Makerz.io email, and other ways available to us.<br>
						<br>
						We may send you messages relating to the availability of the Services, security, or other service-related issues.<br>
						<br>
						We also may send promotional messages to your email provided to Makerz.io.<br>
						<br>
						We communicate with you through email, notices posted on the Makerz.io websites and other means available through the Services, including mobile text messages and push notifications.<br>
						<br>
						Examples of these communications include:<br>
					</p>
					<ol type"1" class="text-sm">
						<li>welcome and engagement communications - informing you about how to best use our Services, new features, updates about other Members you are connected to and their actions, etc.</li>
						<li>service communications - these will cover service availability, security, and other issues about the functioning of our Services;</li>
						<li>promotional communications - these include email, and may contain promotional information directly or on behalf of our partners.</li>
					</ol>
					<p class="text-sm">
						These messages will be sent to you based on your profile information and messaging preferences.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">2.3. User Communications</h3>
					<p class="text-sm">
						With certain communications you send on our Services, the recipient can see your name, email address, and some network information.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">2.4. Service Development; Customized Experience</h3>
					<p class="text-sm">
						We use the information and content you provide to us to conduct research and development and to customize your experience and try to make it relevant and useful to you.<br>
						<br>
						We use information and content that you and other Members provide to us to conduct research and development for the improvement of our Services in order to provide you and other Members and Visitors with a better, more intuitive experience and drive membership growth and engagement on our Services and to help connect professionals to economic opportunity.<br>
						<br>
						We also customize your experience and the experiences of others on our Services.<br>
						<br>
						We also use Members information and content for invitations and communications promoting our Services that are tailored to the recipient.<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">2.5. Sharing Information with Third Parties</h3>
					<p class="text-sm">
						Any information you put on your profile and any content you post on Makerz.io may be seen by others.<br>
						<br>
						We don’t provide any of your non-public information (like your email address) to third parties without your consent, unless required by law, or as described in Sections 2.5 and 2.8 of this Policy.<br>
						<br>
						Other people may find your Makerz.io profile information through search engines or use services like Twitter in conjunction with your Makerz.io account.<br>
						<br>
						This profile will be indexed and displayed through public search engines when someone searches for your name.<br>
						<br>
						We do not rent or sell personal information that you have not posted on our Services, except as described in this Privacy Policy.<br>
						<br>
						We will not disclose personal information that is not published to your profile or generated through engagement with our services, except to carry out your instructions (for example, to process payment information) or unless we have your separate consent, unless we have a good faith belief that disclosure is permitted by law or is reasonably necessary to:<br>
					</p>
					<ol type="1" class="text-sm">
						<li>comply with a legal requirement or process, including, but not limited to, civil and criminal subpoenas, court orders or other compulsory disclosures;</li>
						<li>enforce this Privacy Policy or our User Agreement;</li>
						<li>respond to claims of a violation of the rights of third parties;</li>
						<li>respond to Member service inquiries; or</li>
						<li>protect the rights, property, or safety of Makerz.io, our Services, our Members, Visitors, or the public.</li>
					</ol>
					<p class="text-sm">
						See Section 2.14 for additional details about our compliance with legal requests for information.<br>
						<br>
						We support middleware providers that offer archiving solutions to firms subject to legal and regulatory archiving requirements, which, with your permission, facilitate the archiving of your communications and other activity by a third party for compliance purposes.<br>
						<br>
						Content distributed through our sharing features and third-party integrations may result in displaying some of your personal information outside of our Services.<br>
						<br>
						For example, when you post project to your profile that is open for public views, your content, including your name as the contributor, may be displayed in search engine results.<br>
						<br>
						Also, if you have opted to bind any of your Service accounts to your Twitter, Facebook or other similar account, you can easily share content from our Services to these third party services, in accordance with your account settings (which you may change at any time) and respective policies of these third parties.<br>
						<br>
						Further, we allow third parties to look-up profile information (subject to your privacy settings) using your email address or first and last name information through its profile API (see Section 2.6. below).<br>
						<br>
						Third parties (for example, your email provider) may give you the option to upload certain information in your contacts stored with us onto their own service.<br>
						<br>
						If you choose to share your contacts in this way, you will be granting your third party provider the right to store, access, disclose and use your these contacts in the ways described in such third party's terms and privacy policy.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">2.6. Polls and Surveys</h3>
					<p class="text-sm">
						We conduct our own surveys and polls and also help third parties do this type of research.<br>
						<br>
						Your participation in surveys or polls is up to you.<br>
						<br>
						You may also opt out of getting invitations to participate in surveys.<br>
						<br>
						Polls and Surveys may be conducted by us.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">2.7. Search</h3>
					<p class="text-sm">
						Our Services help you search for other maker and maker projects.<br>
						<br>
						You can search for Members and information about the Makerz project.<br>
						<br>
						For example, you can find Members with particular expertise or experience, or Members that you may know from your industry or profession.<br>
						<br>
						You can also find employment opportunities and information about companies.<br>
						<br>
						We use personal information from our Services, including Member profiles and projects details, to inform and refine our search service.<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">2.8. Compliance with Legal Process and Other Disclosures</h2>
					<p class="text-sm">
						We may disclose your personal information if compelled by law, subpoena, or other legal process, or if necessary to enforce our User Agreement.<br>
						<br>
						It is possible that we may need to disclose personal information, profile information, or information about your activities as a Member or Visitor when required by law, subpoena, or other legal process, whether in the United States, Ireland, or other jurisdictions, or if we have a good faith belief that disclosure is reasonably necessary to<br>
					</p>
					<ol type="1" class="text-sm">
						<li>investigate, prevent, or take action regarding suspected or actual illegal activities or to assist government enforcement agencies;</li>
						<li>enforce the User Agreement, investigate and defend ourselves against any third-party claims or allegations, or protect the security or integrity of our Service; or</li>
						<li>exercise or protect the rights, property, or safety of Makerz.io, our Members, personnel, or others. We attempt to notify Members about legal demands for their personal information when appropriate in our judgment, unless prohibited by law or court order or when the request is an emergency.</li>
					</ol>
					<p class="text-sm">
						In light of our principles, we may dispute such demands when we believe, in our discretion, that the requests are overbroad, vague or lack proper authority, but do not commit to challenge every demand.<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">2.9. Disclosures to Others as the Result of a Change in Control or Sale of Makerz.io</h2>
					<p class="text-sm">
						If there is a change in control or sale of all or part of Makerz.io, we may share your information with a third party, who will have the right to use that information in line with this Privacy Policy.<br>
						<br>
						We may also disclose your personal information to a third party as part of a sale of the assets of Makerz.io, a subsidiary, or division, or as the result of a change in control of the company or one of its affiliates, or in preparation for any of these events.<br>
						<br>
						Any third party to which we transfers or sells our assets will have the right to continue to use the personal and other information that you provide to us in the manner set out in this Privacy Policy.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">2.10. Service Providers</h3>
					<p class="text-sm">
						We may employ third parties to help us with the Services.<br>
						<br>
						We may employ third party companies and individuals to facilitate our Services (e.g. maintenance, analysis, audit, marketing and development).<br>
						<br>
						These third parties have limited access to your information only to perform these tasks on our behalf and are obligated to Makerz.io not to disclose or use it for other purposes.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">3. Your Choices &amp; Obligations</h2>
					<h3 class="section-subtitle text-md">3.1. Rights to Access, Correct, or Delete Your Information, and Closing Your Account</h3>
					<p class="text-sm">
						You can change your Makerz.io information at any time by editing your profile, deleting content that you have posted, or by closing your account.<br>
						<br>
						You can also ask us for additional information we may have about your account.<br>
						<br>
						You have a right to:<br>
					</p>
					<ol type="1" class="text-sm">
						 <li>access, modify, correct, or delete your personal information controlled by Makerz.io regarding your profile,</li>
						 <li>change or remove your content, and</li>
						 <li>close your account. You can request your personal information that is not viewable on your profile or readily accessible to you (for example, your IP access logs) through our contact page.</li>
					</ol>
					<p class="text-sm">
						If you close your account(s), your information will generally be removed from the Service within 24 hours.<br>
						<br>
						We generally delete closed account information and will de-personalize any logs or other backup information through the deletion process within 30 days of account closure, except as noted below.<br>
						<br>
						<strong>Please note:</strong><br>
						<br>
						Information you have shared with others or that others have copied may also remain visible after you have closed your account or deleted the information from your own profile.<br>
						<br>
						In addition, you may not be able to access, correct, or eliminate any information about you that other Members copied or exported out of our Services, because this information may not be in our control.<br>
						<br>
						Your public profile may be displayed in search engine results until the search engine refreshes its cache.<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle">3.2. Data Retention</h3>
					<p class="text-sm">
						We keep your information for as long as your account is active or as needed.<br>
						<br>
						For example, we may keep certain information even after you close your account if it is necessary to comply with our legal obligations, meet regulatory requirements, resolve disputes, prevent fraud and abuse, or enforce this agreement.<br>
						<br>
						We retain the personal information you provide while your account is in existence or as needed to provide you services.<br>
						<br>
						We may retain your personal information even after you have closed your account if retention is reasonably necessary to comply with our legal obligations, meet regulatory requirements, resolve disputes between Members, prevent fraud and abuse, or enforce this Privacy Policy and our User Agreement.<br>
						<br>
						We may retain personal information, for a limited period of time, if requested by law enforcement.<br>
						<br>
						Our Customer Service may retain information for as long as is necessary to provide support-related reporting and trend analysis only, but we generally delete or de-personalize closed account data consistent with Section 3.1., except in the case of our plugin impression data (i.e., the information that you visited on sites carrying our social plugin, but which you did not click on), which we de-personalize within 7 days (although we do maintain 30 days worth of webserver logs for security, debugging, and site stability purposes only) by creating aggregate data sets that cannot be traced back to individuals.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">4. Important Information</h2>
					<h3 class="section-subtitle text-md">4.1. Minimum Age</h3>
					<p class="text-sm">
						You have to meet Makerz.io minimum age requirements to create an account.<br>
						<br>
						As described in Section 2.1 of the User Agreement, persons must be of Minimum Age to use Makerz.io.<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">4.2. Changes to this Privacy Policy</h3>
					<p class="text-sm">
						We will notify you when we change this Privacy Policy.<br>
						<br>
						We may change this Privacy Policy from time to time.<br>
						<br>
						If we make significant changes in the way we treat your personal information, or to the Privacy Policy, we will provide notice to you on the Services or by some other means, such as email.<br>
						<br>
						Please review the changes carefully.<br>
						<br>
						If you agree to the changes, simply continue to use our Services.<br>
						<br>
						If you object to any of the changes to our terms and you no longer wish to use our Services, you may close your account(s).<br>
						<br>
						Unless stated otherwise, our current Privacy Policy applies to all information that we have about you and your account.<br>
						<br>
						Using our Services after a notice of changes has been communicated to you or published on our Services shall constitute consent to the changed terms or practices.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">4.3. Security</h3>
					<p class="text-sm">
						Please know that the Internet is not a secure environment, so be careful and select strong passwords.<br>
						<br>
						Access to your data on our Services is password-protected, and data such as credit card information is protected by SSL encryption when it is exchanged between your web browser and the Services.<br>
						<br>
						To protect any data you store on our servers, we also regularly monitor our system for possible vulnerabilities and attacks.<br>
						<br>
						However, since the Internet is not a 100% secure environment, we cannot ensure or warrant the security of any information that you transmit to us.<br>
						There is no guarantee that information may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.<br>
						<br>
						It is your responsibility to protect the security of your login information.<br>
						<br>
						Please note that emails, instant messaging, and similar means of communication with other Members are not encrypted, and we strongly advise you not to communicate any confidential information through these means.<br>
						<br>
						Please help keep your account safe by using a strong password.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">5. Where to Reach Us</h2>
						<%= render 'contact_us_partial' %>
				</div>
			</div>

		</section>
		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class="footer-spacing"></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>
