<body class='bg-img-2 bg-cover-screen bg-repeat-y'>
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id='project-index' class='section-1 bg-pebble-white pebble'>
			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Terms of Service</h1>
					<p class="text-sm">Last modified: April 14, 2014</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">1. Welcome to Makerz.io!</h2>
					<p class="text-sm">
						Thanks for using our products and services (“Services”). The Services are provided by Makerz.io (“Makerz.io” or "We" or "Our").<br>
						<br>
						By using our Services, you are agreeing to these terms. Please read them carefully.<br>
						<br>
						The Services are intended for maker ("Maker"), creators, prototype designers and artists who makes; a person or thing that makes or produces something during design and prototyping phase ("Prototype") of a product development without prioritization over scaling, such as manufacturing ("Prototyping").
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">1.1 Purpose</h3>
					<p class="text-sm">
						Makerz.io is a social network designed specifically for Makers.<br>
						<br>
						Our mission is to get Makers connected across the world especially in South East Asia, allowing them to showcase their masterpieces online, be it sellable or artistic purposes.<br>
						<br>
						Our Services are designed to promote user connectivity and market opportunity for our members by enabling businesses and other makers to meet, exchange ideas, learn and providing their prototyping services.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">1.2 Agreement</h3>
					<p class="text-sm">
						You agree that by clicking “Join Now” “Join Makerz.io, “Sign Up” or similar, registering, accessing or using our Services, you are entering into a legally binding agreement (even if you are using our Services on behalf of a company). Your agreement is with Makerz.io.<br>
						<br>
						This “Agreement” includes this User Agreement and the Privacy Policy, and other terms that will be displayed to you at the time you first use certain features, as may be amended by Makerz.io from time to time. Any changes will be notified to you via the e-mail address provided by you on registration or via a suitable announcement on the Makerz.io Website.<br>
						<br>
						The changes will apply to the use of the Makerz.io website after we have given you notice. If you do not wish to accept the new Terms you should not continue to use the Makerz.io Website. If you continue to use the Makerz.io Website after the date on which the change comes into effect, your use of the Makerz.io Website indicates your agreement to be bound by the new Terms.<br>
						<br>
						Registered users of our Services are “Members” and unregistered users are “Visitors”. This Agreement applies to both.<br>
						<br>
						If you do not agree to this Agreement, do NOT click “Join Now” (or similar) and do not access or otherwise use any of our Services.<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">2 Obligation</h2>
					<h3 class="section-subtitle text-md">2.1 Service Eligibility</h3>
					<p class="text-sm">
						To use the Services, you agree that:<br><br>
					</p>
					<ol class="text-sm">
						<li>you must be the “Minimum Age” (defined below) or older;</li>
						<li>you will only have one Makerz.io account, which must be in your real name; and</li>
						<li>you are not already restricted by Makerz.io from using the Services.</li>
					</ol>
					<br>
					</p>
					<p class="text-sm">“Minimum Age” means<br></p>
					<ol type="a" class="text-sm">
						<li>18 years old for the People's Republic of China,</li>
						<li>16 years old for the Netherlands,</li>
						<li>14 years old for the United States, Canada, Germany, Spain, Australia and South Korea, and</li>
						<li>13 years old for all other countries.</li>
					</ol>
					<p class="text-sm">
						<br>
						However, if law requires that you must be older in order for Makez.io to lawfully provide the Services to you (including the collection, storage and use of your information) then the Minimum Age is such older age. The Services are not for use by anyone under the age of 13.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">2.2 Your Membership</h3>
					<p class="text-sm">
						As between you and others, your account belongs to you. You agree to:<br>
					</p>
					<br>
					<ol class="text-sm">
						<li>try to choose a strong and secure password;</li>
						<li>keep your password secure and confidential;</li>
						<li>not transfer any part of your account (e.g., connections, groups) AND</li>
						<li>follow the law and the Dos and Don'ts below.</li>
					</ol>
					<br>
					<p class="text-sm">
						You are responsible for anything that happens through your account unless you close it or report misuse.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">2.3 Payment</h3>
					<p class="text-sm">
						You'll honor your payment obligations and you are okay with us storing your payment information. Also, there may be fees and taxes that are added to our prices.<br>
						<br>
						We don't guarantee refunds. In any refunds cases, there will be additional administration charges. <br>
						<br>
						If you purchase any of our premium Services ("In-App Purchases”), you agree to pay us the applicable fees and taxes. Failure to pay these fees may result in the termination of your subscription. Also:<br>
						<br>
						Your purchase may be subject to foreign exchange fees or differences in prices based on location (e.g. exchange rates).<br>
						<br>
						You authorize us to store and continue billing your payment method (e.g. credit card) even after it has expired, to avoid interruptions in your service (e.g. subscriptions) and to facilitate easy payment for new services.<br>
						<br>
						You must pay us for applicable fees and taxes unless you cancel the In-App Purchases, in which case you agree to still pay these fees through the end of the applicable subscription period.<br>
						<br>
						Taxes are calculated based on the billing information that you provide us at the time of purchase.<br>
						<br>
						<strong>For Makerz.io, you can get a copy of your invoice through your account settings under or you can request your invoice through Customer Support.</strong><br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">2.4 Notices and Service Messages</h3>
					<p class="text-sm">
						You're okay with us using our websites, mobile apps, and email to provide you with important notices. This Agreement applies to mobile applications as well.<br>
						<br>
						Also, you agree certain additional information can be shared with us.<br>
						<br>
						If the contact information you provide isn't up to date, you may miss out on these notices.<br>
						<br>
						You agree that we may provide notices to you in the following ways:<br>
						<br>
					</p>
					<ol class="text-sm">
						<li>a banner notice on the Service, or</li>
						<li>an email sent to an address you provided, or</li>
						<li>through other means including mobile number, telephone, or mail.</li>
					</ol>
					<p class="text-sm">
						<br>
						You agree to keep your contact information up to date.<br>
						<br>
					</p>
				</div>
			</div>



			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">2.5. Messages and Sharing</h3>
					<p class="text-sm">
						When you share information, others can see, copy and use that information.<br>
						<br>
						Our Services allow sharing of information in many ways, such as your profile and your projects.<br>
						<br>
						Information and content that you share or post will be seen by other Members and Visitors.<br>
						<br>
						We are not obligated to publish any information or content on our Service and can remove it in our sole discretion, with or without notice.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">2.6. Messages and Sharing</h3>
					<p class="text-sm">
						When you share information, others can see, copy and use that information.<br>
						<br>
						Our Services allow messaging and sharing of information in many ways, such as your profile and your projects.<br>
						<br>
						Information and content that you share or post will be seen by other Members and Visitors.<br>
						<br>
						We are not obligated to publish any information or content on our Service and can remove it in our sole discretion, with or without notice.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">3 Rights and Limits</h2>
					<h3 class="section-subtitle text-md">3.1 Your License to Makerz.io</h3>
					<p class="text-sm">
						As between you and Makerz.io, you own the content and information that you submit or post to the Services and you are only granting Makerz.io the following non-exclusive license:<br>
						<br>
						A worldwide, transferable and sublicensable right to use, copy, modify, distribute, publish, and process, information and content that you provide through our Services, without any further consent, notice and/or compensation to you or others.<br>
						<br>
						These rights are limited in the following ways:<br>
						<br>
						You can end this license for specific content by deleting such content from the Services, or generally by closing your account, except<br>
						<br>
					</p>
					<ol type="a" class="text-sm">
						<li>to the extent you shared it with others as part of the Service and they copied or stored it and</li>
						<li>for the reasonable time it takes to remove from backup and other systems.</li>
					</ol>
					<br>
					<p class="text-sm">
						We will not include your content in advertisements for the products and services of others (including sponsored content) to others without your separate consent.<br>
						<br>
						However, we have the right, without compensation to you or others, to serve ads near your content and information, and your comments on sponsored content may be visible as noted in the Privacy Policy.<br>
						<br>
						We will get your consent if we want to give others the right to publish your posts beyond the Service.<br>
						<br>
						However, other Members and/or Visitors may access and share your content and information, consistent with your settings and degree of connection with them.<br>
						<br>
						While we may edit and make formatting changes to your content (such as translating it, modifying the size, layout or file type or removing metadata), we will not modify the meaning of your expression.<br>
						<br>
						Because you own your content and information and we only have non-exclusive rights to it, you may choose to make it available to others, including under the terms of a Creative Commons license.<br>
						<br>
						You agree that we may access, store and use any information that you provide in accordance with the terms of the Privacy Policy and your privacy settings.<br>
						<br>
						By submitting suggestions or other feedback regarding our Services to Makerz.io, you agree that Makerz.io can use and share (but does not have to) such feedback for any purpose without compensation to you.<br>
						<br>
						You agree to only provide content or information if that does not violate the law nor anyone's rights (e.g., without violating any intellectual property rights or breaching a contract).<br>
						<br>
						You also agree that your profile information will be truthful.<br>
						<br>
						Makerz.io may be required by law to remove certain information or content in certain countries.<br>
						<br>
					</p>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">3.2. Service Availability</h3>
					<p class="text-sm">
						We may change or discontinue any of our Services.<br>
						<br>
						We can't promise to store or keep showing any information and content you've posted.<br>
						<br>
						We may change, suspend or end any Service, or change and modify prices prospectively in our discretion.<br>
						<br>
						To the extent allowed under law, these changes may be effective upon email.<br>
						<br>
						Makerz.io is not a storage service.<br>
						<br>
						You agree that we have no obligation to store, maintain or provide you a copy of any content or information that you or others provide, except to the extent required by applicable law and as noted in Section 3.1 of our Privacy Policy.<br>
					</p>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">3.3. Other Content, Sites and apps</h3>
					<p class="text-sm">
					When you see or use others' content and information posted on our Services, it's at your own risk.<br>
					<br>
					Third parties may offer their own products and services through Makerz.io, and we aren't responsible for those third-party activities.<br>
					<br>
					By using the Services, you may encounter content or information that might be inaccurate, incomplete, delayed, misleading, illegal, offensive or otherwise harmful.<br>
					<br>
					Makerz.io generally does not review content provided by our Members.<br>
					<br>
					You agree that we are not responsible for third parties' (including other Members') content or information or for any damages as result of your use of or reliance on it.<br>
					<br>
					You are responsible for deciding if you want to access or use third party apps or sites that link from our Services.<br>
					<br>
					If you allow a third party app or site to authenticate you or connect with your Makerz.io account, that app or site can access information on Makerz.io related to you and your connections.<br>
					<br>
					Third party apps and sites have their own legal terms and privacy policies, and you may be giving others permission to use your information in ways we would not.<br>
					<br>
					Except to the limited extent it may be required by applicable law, Makerz.io is not responsible for these other sites and apps -- use these at your own risk. Please see Sections 2.4 and 2.5 of the Privacy Policy.<br>
					</p>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">3.4. Limits</h3>
					<p class="text-sm">
					Makerz.io reserves the right to limit your use of the Services, including the number of your connections and your ability to contact other Members.<br>
					<br>
					Makerz.io reserves the right to restrict, suspend, or terminate your account if Makerz.io believes that you may be in breach of this Agreement or law or are misusing the Services (e.g. violating any Do and Don'ts).<br>
					<br>
					Makerz.io reserves all of its intellectual property rights in the Services.<br>
					<br>
					For example, Makerz.io and “Makerz” logos and other Makerz.io trademarks, service marks, graphics, and logos used in connection with Makerz.io are trademarks or registered trademarks of Makerz.io. Other trademarks and logos used in connection with the Services may be the trademarks of their respective owners.<br>
					<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">4 Disclaimer and Limit of Liability</h2>
					<h3 class="section-subtitle text-md">4.1. No Warranty</h3>
					<p class="text-sm">
						TO THE EXTENT ALLOWED UNDER LAW, MAKERZ.IO (AND THOSE THAT AKERZ.IO WORKS WITH TO PROVIDE THE SERVICES)<br>
					</p>
					<ol type="A" class="text-sm">
						<li>DISCLAIM ALL IMPLIED WARRANTIES AND REPRESENTATIONS (E.G. WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY OF DATA, AND NONINFRINGEMENT);</li>
						<li>DO NOT GUARANTEE THAT THE SERVICES WILL FUNCTION WITHOUT INTERRUPTION OR ERRORS, AND</li>
						<li>PROVIDE THE SERVICE (INCLUDING CONTENT AND INFORMATION) ON AN “AS IS” AND “AS AVAILABLE” BASIS.</li>
					</ol>
					<p class="text-sm">
						<br>
						SOME LAWS DO NOT ALLOW CERTAIN DISCLAIMERS, SO SOME OR ALL OF THESE DISCLAIMERS MAY NOT APPLY TO YOU.<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">4.2. Exclusion of Liability</h3>
					<p class="text-sm">
						These are the limits of legal liability we may have to you.<br>
						<br>
						TO THE EXTENT PERMITTED UNDER LAW (AND UNLESS MAKERZ.IO HAS ENTERED INTO A SEPARATE WRITTEN AGREEMENT THAT SUPERSEDES THIS AGREEMENT), MAERKZ.IO (AND THOSE THAT MAERKZ.IO WORKS WITH TO PROVIDE THE SERVICES) SHALL NOT BE LIABLE TO YOU OR OTHERS FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF DATA, OPPORTUNITIES, REPUTATION, PROFITS OR REVENUES, RELATED TO THE SERVICES (E.G. OFFENSIVE OR DEFAMATORY STATEMENTS, DOWN TIME OR LOSS, USE OR CHANGES TO YOUR INFORMATION OR CONTENT).<br>
						<br>
						IN NO EVENT SHALL THE LIABILITY OF MAKERZ.IO (AND THOSE THAT MAKERZ.IO WORKS WITH TO PROVIDE THE SERVICES) EXCEED, IN THE AGGREGATE FOR ALL CLAIMS, AN AMOUNT THAT IS THE LESSER OF<br>
					</p>
					<ol type="A" class="text-sm">
						<li>FIVE TIMES THE MOST RECENT MONTHLY OR YEARLY FEE THAT YOU PAID FOR A PREMIUM SERVICE, IF ANY, OR</li>
						<li>US $1000</li>
					</ol>
					<p class="text-sm">
						<br>
						THIS LIMITATION OF LIABILITY IS PART OF THE BASIS OF THE BARGAIN BETWEEN YOU AND MAKERZ.IO AND SHALL APPLY TO ALL CLAIMS OF LIABILITY (E.G. WARRANTY, TORT, NEGLIGENCE, CONTRACT, LAW) AND EVEN IF MAKERZ.IO HAS BEEN TOLD OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF THESE REMEDIES FAIL THEIR ESSENTIAL PURPOSE.<br>
						<br>
						SOME LAWS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY, SO THESE LIMITS MAY NOT APPLY TO YOU.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">5 Termination</h2>
					<h3 class="section-subtitle text-md">3.3. Other Content, Sites and apps</h3>
					<p class="text-sm">
						Makerz.io or You may terminate this Agreement at any time with notice to the other.<br>
						<br>
						On termination, you lose the right to access or use the Services.<br>
						<br>
						The following shall survive termination:<br>
						<br>
					</p>
					<ol class="text-sm">
						<li>Our rights to use and disclose your feedback;</li>
						<li>Members' and/or Visitors' rights to further re-share content and information you shared through the Service to the extent copied or re-shared prior to termination;</li>
						<li>Sections 4, 6 and 7 of this Agreement;</li>
						<li>Any amounts owed by either party prior to termination remain owed after termination.</li>
					</ol>
					<br>
					<p class="text-sm">
						You can visit our Help Center to learn how to close your Makerz account.<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">6 Dispute Resolution</h2>
					<p class="text-sm">
						You agree that the laws of the State of California, U.S.A., excluding its conflict of laws rules, shall exclusively govern any dispute relating to this Agreement and/or the Services.<br>
						<br>
						We both agree that all of these claims can only be litigated in the federal or state courts of Santa Clara County, California, USA, and we each agree to personal jurisdiction in those courts.<br>
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">7 General Terms</h2>
					<p class="text-sm">
						If a court with authority over this Agreement finds any part of it not enforceable, you and us agree that the court should modify the terms to make that part enforceable while still achieving its intent.<br>
						<br>
						If the court cannot do that, you and us agree to ask the court to remove that unenforceable part and still enforce the rest of this Agreement.<br>
						<br>
						To the extent allowed by law, the English version of this Agreement is binding and other translations are for convenience only.<br>
						<br>
						This Agreement (including additional terms that may be provided by us when you engage with a feature of the Services) is the only agreement between us regarding the Services and supersedes all prior agreements for the Services.<br>
						<br>
						If we don't act to enforce a breach of this Agreement, that does not mean that Makerz.io has waived its right to enforce this Agreement.<br>
						<br>
						You may not assign or transfer this Agreement (or your membership or use of Services) to anyone without our consent.<br>
						<br>
						However, you agree that Makerz.io may assign this Agreement to its affiliates or a party that buys it without your consent.<br>
						<br>
						There are no third party beneficiaries to this Agreement.<br>
						<br>
						We reserve the right to change the terms of this Agreement and will provide you notice if we do and we agree that changes cannot be retroactive.<br>
						<br>
						If you don't agree to these changes, you must stop using the Services.<br>
						<br>
						You agree that the only way to provide us legal notice is at the addresses provided in Section 10.
						<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">8 Rights and Limits</h2>
					<h3 class="section-subtitle text-md">8.1. Dos. You agree that you will:</h3>
					<p class="text-sm">
						<ol class="text-sm">
							<li>Comply with all applicable laws, including, without limitation, privacy laws, intellectual property laws, anti-spam laws, export control laws, tax laws, and regulatory requirements;</li>
							<li>Provide accurate information to us and keep it updated;</li>
							<li>Use your real name on your profile;</li>
							<li>Use the Services in a professional manner.</li>
						</ol>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3 class="section-subtitle text-md">8.2. Don'ts. You agree that you will not:</h3>
					<ol class="text-sm">
						<li>Act dishonestly or unprofessionally, including by posting inappropriate, inaccurate, or objectionable content;</li>
						<li>Add content that is not intended for, or inaccurate for, a designated field (e.g. submitting a telephone number in the “title” or any other field, or including telephone numbers, email addresses, street addresses or any personally identifiable information for which there is not a field provided by Makerz.io);</li>
						<li>Use an image that is not your likeness or a head-shot photo for your profile;</li>
						<li>Create a false identity on Makerz.io;</li>
						<li>Misrepresent your current or previous positions and qualifications;</li>
						<li>Misrepresent your affiliations with a person or entity, past or present;</li>
						<li>Misrepresent your identity, including but not limited to the use of a pseudonym;</li>
						<li>Create a Member profile for anyone other than yourself (a real person or organization);</li>
						<li>Use or attempt to use another's account;</li>
						<li>Harass, abuse or harm another person;</li>
						<li>Send spam or other unwelcomed communications to others;</li>
						<li>Scrape or copy profiles and information of others through any means (including crawlers, browser plugins and add-ons, and any other technology or manual work);</li>
						<li>Act in an unlawful, libelous, abusive, obscene, discriminatory or otherwise objectionable manner;</li>
						<li>Disclose information that you do not have the right to disclose (such as confidential information of others);</li>
						<li>Violate intellectual property rights of others, including patents, trademarks, trade secrets, copyrights or other proprietary rights;</li>
						<li>Violate the intellectual property or other rights of Makerz.io, including, without limitation, using the word “Makerz.io” or our logos in any business name, email, or URL except as provided in the Brand Guidelines;</li>
						<li>Use Makerz.io invitations to send messages to people who don't know you or who are unlikely to recognize you as a known contact;</li>
						<li>Post any unsolicited or unauthorized advertising, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” or any other form of solicitation unauthorized by Makerz.io;</li>
						<li>Send messages to distribution lists, newsgroup aliases, or group aliases;</li>
						<li>Post anything that contains software viruses, worms, or any other harmful code;</li>
						<li>Manipulate identifiers in order to disguise the origin of any message or post transmitted through the Services;</li>
						<li>Create profiles or provide content that promotes escort services or prostitution.</li>
						<li>Creating or operate a pyramid scheme, fraud or other similar practice;</li>
						<li>Copy or use the information, content or data of others available on the Services (except as expressly authorized);</li>
						<li>Copy or use the information, content or data on Makerz.io in connection with a competitive service (as determined by Makerz.io);</li>
						<li>Copy, modify or create derivative works of Makerz.io, the Services or any related technology (except as expressly authorized by Makerz.io);</li>
						<li>Reverse engineer, decompile, disassemble, decipher or otherwise attempt to derive the source code for the Services or any related technology, or any part thereof;</li>
						<li>Rent, lease, loan, trade, sell/re-sell access to the Services or related any information or data;</li>
						<li>Sell, sponsor, or otherwise monetize a Makerz.io profile or project or any other feature of the Services, without Makerz.io's consent;</li>
						<li>Deep-link to our Services for any purpose other than to promote your profile or a Group on Makerz.io without Makerz.io's consent;</li>
						<li>Remove any copyright, trademark or other proprietary rights notices contained in or on our Service;</li>
						<li>Remove, cover or obscure any advertisement included on the Services;</li>
						<li>Collect, use, copy, or transfer any information obtained from Makerz.io without the consent of Makerz.io;</li>
						<li>Share or disclose information of others without their express consent;</li>
						<li>Use manual or automated software, devices, scripts robots, other means or processes to access, “scrape,” “crawl” or “spider” the Services or any related data or information;</li>
						<li>Use bots or other automated methods to access the Services, add or download contacts, send or redirect messages;</li>
						<li>Monitor the Services' availability, performance or functionality for any competitive purpose;</li>
						<li>Engage in “framing,” “mirroring,” or otherwise simulating the appearance or function of the Services;</li>
						<li>Access the Services except through the interfaces expressly provided by Makerz.io;</li>
						<li>Override any security feature of the Services;</li>
						<li>Interfere with the operation of, or place an unreasonable load on, the Services (e.g., spam, denial of service attack, viruses, gaming algorithms).</li>
					</ol>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">9 Complaints Regarding Content</h2>
					<p class="text-sm">
						We respect the intellectual property rights of others.<br>
						We require that information posted by Members be accurate and not in violation of the intellectual property rights or other rights of third parties.<br>
						We provide a policy and process for complaints concerning content posted by our Members.<br>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">10 Where to Reach Us</h2>
					<%= render 'contact_us_partial' %>
				</div>
			</div>

		</section>
		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class="footer-spacing"></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>
