/* --------------------------------
		Main Components
	 --------------------------------*/
body::before {
	display: none;
}
section, .section {
	display: none;
	height: 100vh;
}
.ctn-show-xs {
	display: block;
}
@media only screen and (min-width: 750px) {
	.ctn-show-sm {
		display: block;
	}
}
@media only screen and (min-width: 970px) {
	.ctn-show-md {
		display: block;
	}
}
@media only screen and (min-width: 1170px) {
	.ctn-show-xl {
		display: block;
	}
}
.ctn-window-contents {
	position: absolute;
	left: 50%;
	top: 50%;
}
.ctn-full-window, .ctn-half-window {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.ctn-full-window {
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
}
.ctn-full-screen {
	visibility: visible;
	height: 100vh;
	background-color: #263b40;
}
.ctn-half-window {
	color: #263b40;
}
.ctn-image-window {
	height: 100vh;
	width: auto;

	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}
.ctn-content-window {
	height: 50vh;
	padding: 4em 10%;
}
/* --------------------------------
		Vertical Navigation
	 --------------------------------*/
.ctn-vertical-nav {
	position: fixed;
	z-index: 1;
	right: 3%;
	top: 50%;
	bottom: auto;

	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: none;
}
.ctn-vertical-nav a {
	color: #34495E;
	display: block;
	height: 40px;
	width: 40px;

	font-size: 2.1em;
	box-shadow: 1px 1px 5px #34495e;

	-webkit-transition: opacity 0.2s 0s, visibility 0.2s 0s;
	-moz-transition: opacity 0.2s 0s, visibility 0.2s 0s;
	transition: opacity 0.2s 0s, visibility 0.2s 0s;
}
.ctn-vertical-nav a:hover {
	color: #bdc3c7;
}
.ctn-vertical-nav i {
	padding: 5px;
}
.ctn-vertical-nav a.ctn-prev {
	margin-bottom: 10px;
}
.ctn-vertical-nav a.inactive {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
	-moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
	transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
/* --------------------------------
		Jquery settings
Change your desired trigger based on
		 device's width
			xs - max-width: 750px
			sm - min-width: 750px
			md - min-width: 970px
			lg - min-width: 1170px
	 --------------------------------*/
@media only screen and (min-width: 750px) {
	body::before {
		content: 'ctn-animate';
	}

	/*	------------------------------------
		 Internal Classes during Activation
		------------------------------------ */
	.ctn-full-window {
		position: fixed;
		width: 100%;
		min-height: 100vh;
		top: 0;
		left: 0;
		height: 100vh;
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
		visibility: hidden;
	}
	.ctn-full-screen {
		visibility: visible;
	}
	.ctn-full-window > * {
		visibility: visible;
	}
	.ctn-half-window {
		height: 100vh !important;
		width: 50%;
		position: absolute;
		top: 0;
	}
	.ctn-image-window {
		height: 100vh;

		background-size: auto 100%;
		display: block;

	}
	.ctn-left-window-wrap-in {
		left: 0;
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	.ctn-right-window-wrap-in {
		right: 0;
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
	.ctn-vertical-nav {
		display: block;
		list-style-type: none;
	}
}