<section id="resend_confirmation_instructions">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Resend confirmation instructions</h2>
      </div>
    </div>
    <div class = "row">
    <div class="col-lg-6 col-lg-offset-3">
			<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="form-group">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true, class:'form-control', placeholder:"Your Email *" %>
			  </div>

			  <div class="actions">
			    <%= f.submit "Resend confirmation instructions", class:'btn btn-default' %>
			  </div>
			<% end %>
			<br>
			<%= render "devise/shared/links" %>
			</div>
    </div>
  </div>
</section>
