<body class="bg-img-2 bg-cover-screen bg-repeat-y">
	<%= render 'layouts/partials/common/body/header' %>
	<div class="content-wrapper">
		<section id="user-edit-profile" class="section-1 single-section">
			<div class="user-form user-profile-form bg-pebble-white">
				<div class="row">
					<div class="col-xs-12">
						<% if session[:first_time] %>
							<h1 class='section-title'>Just A Little Bit More...</h1>
						<% else %>
							<h1 class='section-title'>Edit Profile</h1>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<% resource.build_user_account unless resource.user_account %>
						<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal", html: { method: :put }, validate: true) do |f| %>
							<div class="row">
								<div class="col-xs-12">
									<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
										<div class="form-group">
											<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
										</div>
									<% else %>
										<br>
									<% end %>
								</div>
							</div>

							<%= f.fields_for :user_account do |r| %>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<span>Your <strong><%= r.label :name, "FULL-NAME" %> please:</strong> <strong style="color: red;">*</strong></span>
										<%= r.text_field :name, autofocus: true, class:'form-control', required: true, placeholder: "E.g: John WB. Doe" %>
									</div>
								</div>

								<div class="col-xs-12">
									<div class="form-group">
										<span>https://<strong><%= r.label :name1, "<SUBDOMAIN>" %></strong>.makerz.io:  <strong style="color: red;">*</strong></span>
										<span class="help-block">8 characters <strong>minimum</strong></span>
										<%= r.text_field :subdomain, autofocus: true, class:'form-control', required: true, minlength: "8", maxlength: "32", placeholder: "E.g 'johndoe'" %>
									</div>
								</div>

								<div class="col-xs-12">
									<div class="form-group">
										<span>Short <strong><%= r.label :summary, "DESCRIPTION" %></strong> about yourself: <strong style="color: red;">*</strong></span>
										<%= r.text_area :summary, autofocus: true, class:'form-control', required: true, placeholder: "Hi. I make stuff for hardware-software." %>
									</div>
								</div>

								<div class="col-xs-12">
									<span><strong style="color: red;">*</strong> = required</span>
									<hr>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<span>Your <strong><%= r.label "SOCIAL NETWORKS", "SOCIAL NETWORKS" %></strong> link (if any):</span>
									</div>
								</div>

								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-2">
											<span class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></span>
										</div>
										<div class="col-xs-10">
											<div class="form-group">
												<%= r.url_field :facebook_link, autofocus: true, class:'form-control', placeholder: "E.g.: http://www.facebook.com/johndoe" %>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-2">
											<span class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></span>
										</div>
										<div class="col-xs-10">
											<div class="form-group">
												<%= r.url_field :twitter_link, autofocus: true, class:'form-control', placeholder: "E.g: https://twitter.com/johndoe" %>
											</div>
										</div>
									</div>
								</div>

								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-2">
											<span class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></span>
										</div>
										<div class="col-xs-10">
											<div class="form-group">
												<%= r.url_field :linkedIn_link, autofocus: true, class:'form-control', placeholder: "E.g: https://my.linkedin.com/pub/johndoe/XX/XXX" %>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12">
									<div class="row">
										<div class="col-xs-2">
											<span class="btn btn-social-icon btn-google"><i class="fa fa-google-plus"></i></span>
										</div>
										<div class="col-xs-10">
											<div class="form-group">
												<%= r.url_field :google_plus_link, autofocus: true, class:'form-control', placeholder: "E.g: https://plus.google.com/+johndoe" %>
											</div>
										</div>
									</div>
									<hr>
								</div>
							</div>
							<% end %>

							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<span><strong><%= f.label :tag_object, "MAKER TAGS" %></strong>, for people to search you:</span>
										<%= f.text_field :tag_object, autofocus: true, class:'form-control', placeholder: "E.g: food, electronics, 3d_printer" %>
									</div>
									<hr>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12">
									<div class="actions">
										<div class="row">
											<% if session[:first_time] %>
												<div class="col-xs-12">
													<%= f.submit "Continue", class: "btn btn-block btn-mobile btn-primary" %>
												</div>
											<% else %>
												<div class="col-xs-12 col-sm-4">
													<%= link_to "Back", @back_url, class: "btn btn-block btn-mobile btn-warning" %>
												</div>
												<div class="col-xs-12 col-sm-8">
													<%= f.submit "Update", class: "btn btn-block btn-mobile btn-primary" %>
												</div>
											<% end %>
										</div>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</section>

		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class="footer-spacing"></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>