<body class="bg-img-3 bg-cover-screen">
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id="user-sign-up" class="section-1 single-section">
			<div class="user-form bg-pebble-white">
				<div class="row">
					<div class="col-xs-12">
						<h1 class="section-title">Sign Up</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal") do |f| %>

							<div class="form-group">
								<%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Email", required: true %>
							</div>

							<div class="form-group">
								<% if @validatable %>
								<%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Password (#{@minimum_password_length} characters minimum)", required: true %>
								<% else %>
								<%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Password", required: true %>
								<% end %>
							</div>

							<div class="form-group">
								<%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: "Confirm Password", required: true %>
							</div>

							<div class="actions">
								<%= f.submit "Sign Up", class: "btn btn-block btn-social btn-primary" %>
							</div>
						<% end %>
						<div class="row">
							<div class="col-xs-12">
								<hr>
							</div>
							<div class="col-xs-12">
								<div class="not-member">
									<p>Already a member? <%= link_to "Log In", new_session_path(resource_name), class: "btn btn-success" %></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class='footer-spacing'></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>

</body>