<body class="bg-img-2 bg-cover-screen bg-repeat-y">
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id='user-account-dashboard' class='section-1 single-section pebble bg-pebble-white'>
			<div class='row'>
				<div class='col-xs-12'>
					<% flash.clear if flash[:notice] == "You have bought this theme before" %>
					<h1 class="section-title">Dashboard - I want to...</h1>
				</div>
				<div class="col-xs-12">
					<div class='row'>
						<div class='col-xs-12 col-sm-4'>
							<%= link_to edit_themes_selectors_path, class: 'btn bg-img-red-block' do %>
								<h4 class="text-wrap">Manage My<br>Themes</h4>
							<% end %>
						</div>
						<div class='col-xs-12 col-sm-4'>
							<%= link_to new_project_path, class: 'btn bg-img-yellow-blur' do %>
								<h4 class="text-wrap contrast">Create New<br>Project</h4>
							<% end %>
						</div>
						<div class='col-xs-12 col-sm-4'>
							<%= link_to project_search_path, class: 'btn bg-img-red-block' do %>
								<h4 class="text-wrap">Find Some<br>Portfolio</h4>
							<% end %>
						</div>
					</div>

					<div class='row'>
						<div class='col-xs-12 col-sm-4'>
							<%= link_to edit_user_registration_path, class: 'btn bg-img-yellow-blur' do %>
								<h4 class="text-wrap contrast">Manage My<br>Profile</h4>
							<% end %>
						</div>
						<div class='col-xs-12 col-sm-4'>
							<%= link_to projects_path, class: 'btn bg-img-red-block' do %>
								<h4>Manage My<br>Projects</h4>
							<% end %>
						</div>
						<div class='col-xs-12 col-sm-4'>
							<%= link_to 'https://trello.com/b/bPPERU4q/makerz-io-development', class: 'btn bg-img-yellow-blur', target: "_blank" do %>
								<h4 class="text-wrap contrast">Give My<br>Feedback</h4>
							<% end %>
						</div>
					</div>
					<div class='row'>
						<div class='col-xs-12 col-sm-4'>
							<%= link_to edit_user_path, class: 'btn bg-img-red-block' do %>
								<h4 class="text-wrap">Edit My<br>Password</h4>
							<% end %>
						</div>
						<% unless has_no_contents?(current_user.user_account) || has_no_contents?(current_user.user_account.subdomain) %>
							<div class='col-xs-12 col-sm-4'>
								<%= link_to "http://" + current_user.user_account.subdomain + ".makerz.io", class: 'btn bg-img-yellow-blur', target: "_blank" do %>
									<h4 class="contrast">View My Profile</h4>
								<% end %>
							</div>
						<% else %>
							<div class='col-xs-12 col-sm-4'>
							</div>
						<% end %>
						<div class='col-xs-12 col-sm-4'>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class='footer-spacing'></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>
