<body class="bg-img-error bg-cover-screen bg-repeat-y ">
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id="error-no-500" class="section-1 pebble error-pebble bg-pebble-white">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Hold on, mighty one...</h1>
					<h2 class="align-center text-danger"><b>Ouch, 500!</b></h2>
					<h3 class="align-center">Oh dear, something went wrong.</h3>
				</div>

				<div class="col-xs-12">
					<hr>
				</div>

				<div class="align-center col-xs-12">
					<p>Let's go back home. <%= link_to "Home", "http://makerz.io", class: 'btn btn-warning' %></p>
				</div>
			</div>
		</section>
		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class="footer-spacing"></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>