<body class="bg-img-error bg-cover-screen bg-repeat-y ">
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id="error-no-project" class="section-1 pebble error-pebble bg-pebble-white">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Hold on, mighty one...</h1>
					<h2 class="align-center text-danger"><b>I Can't Find Such Project!</b></h2>
				</div>

				<div class="col-xs-12">
					<hr>
				</div>
				<% if current_user %>
					<div class="align-center col-xs-12">
						<p>Let's create it? <%= link_to "CREATE", new_project_path, class: 'btn btn-success' %></p>
					</div>
				<% end %>
				<div class="align-center col-xs-12">
					<p>Go home? <%= link_to "Home", "http://makerz.io", class: 'btn btn-warning' %></p>
				</div>
			</div>
		</section>
		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class="footer-spacing"></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>