<body class="bg-img-error bg-cover-screen bg-repeat-y ">
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id="error-no-project" class="section-1 pebble error-pebble bg-pebble-white">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Hold on, mighty one...</h1>
					<h2 class="align-center section-subtitle text-danger"><b>We can't find that maker.</b></h2>
					<p class="align-center">Any typo?</p>
				</div>

				<div class="col-xs-12">
					<hr>
				</div>
				<% if current_user %>
					<div class="align-center col-xs-12">
						<p>If you want to own it: Let's: <%= link_to "Add Subdomain", edit_user_registration_path, class: 'btn btn-success' %></p>
					</div>
				<% else %>
					<div class="align-center col-xs-12">
						<p>If you want to own it: Let's <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success' %></p>
					</div>
				<% end %>
				<div class="align-center col-xs-12">
					<p>Go home? <%= link_to "Home", "http://makerz.io", class: 'btn btn-warning' %></p>
				</div>
			</div>
		</section>
		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class="footer-spacing"></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>