<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="<%= @user_account.summary %>">
	<meta name="author"      content="<%= @user_account.name %>">
	<meta name="keywords" content="Maker <%= @user_tags.join(" ") %>" />

	<title><%= @user_account.name %> | Makerz.io</title>

	<link rel="apple-touch-icon" sizes="180x180" href="https://docs.google.com/drawings/d/1laG4hzPJo_eV6lVsIXdfrLS8q7bPnw8JKMcJgmgldQ8/pub?w=180&amp;h=180">
	<link rel="icon" type="image/png" href="https://docs.google.com/drawings/d/1laG4hzPJo_eV6lVsIXdfrLS8q7bPnw8JKMcJgmgldQ8/pub?w=180&amp;h=180">
	<!--[if lte IE 8]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<%= stylesheet_link_tag    "strata/all", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>

<body id="top">
	<header id="header">
		<h1>Hi! <strong>I am <%= @user_account.name %></strong>.<br>
			<span><%= @universal_makerz_statement %></span>
		</h1>
	</header>

	<!-- Main -->
	<div id="main">

		<!-- One -->
			<section id="one">
				<header class="major">
					<h2>Short Introduction About Me</h2>
				</header>
				<p>
					<% unless has_no_contents? @user_account %>
						<h3 class="tagline">
							<%= @user_account.summary %>
						</h3>
					<% else %>
						<h3 class="tagline"></h3>
					<% end %>
				</p>
			</section>

		<!-- Two -->
			<section id="two">
				<h2>Recent Work</h2>
				<div class="row">

					<% unless has_no_contents? @projects %>
						<% @projects.each_with_index do |project, index| %>
							<article class="6u 12u$(xsmall) work-item">
								<%= render 'project_model', project: project %>

								<% unless has_no_contents? project.photos.first %>
									<a href="<%= project.photos.first.url %>" class="image fit thumb"><img src="<%= project.photos.first.url %>" alt="<%= project.title %>.img" /></a>
								<% else %>
									<a href="<%= @default_picture %>" class="image fit thumb"><img src="<%= @default_picture %>" alt="<%= project.title %>.img" /></a>
								<% end %>
								<h3><%= project.title %></h3>
								<p><%= project.description[0..50] %> ...</p>
								<center><a href="#" class="button" role="button" data-toggle="modal" data-target="#profile-project-<%= project.id %>">Read More</a></center>
							</article>
						<% end %>
					<% else %>
						<center><h3>More Projects Coming In!</h3></center>
					<% end %>

				</div>
			</section>
	</div>

	<footer id="footer">

		<ul class="icons">
			<% unless has_no_contents? @user_account.twitter_link %>
				<li><a href="<%= @user_account.twitter_link %>" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<% end %>
			<% unless has_no_contents? @user_account.facebook_link %>
				<li><a href="<%= @user_account.facebook_link %>" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<% end %>
			<% unless has_no_contents? @user_account.linkedIn_link %>
				<li><a href="<%= @user_account.linkedIn_link %>" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
			<% end %>
			<% unless has_no_contents? @user_account.google_plus_link %>
				<li><a href="<%= @user_account.google_plus_link %>" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
			<% end %>
			<% if	has_no_contents?(@user_account.twitter_link) &&
					has_no_contents?(@user_account.facebook_link) &&
					has_no_contents?(@user_account.linkedIn_link) &&
					has_no_contents?(@user_account.google_plus_link)
			%>
				<li><h2>Hold on.. I'm getting them in soon.</h2></li>
			<% end %>
		</ul>
		<ul class="copyright">
			<li>&copy; <%= @user_account.name %></li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</footer>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.poptrox/2.5.1/jquery.poptrox.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/skel/3.0.0.dev/skel.min.js"></script>
	<!--[if lte IE 8]><script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script><![endif]-->
	<%= javascript_include_tag "strata/all", "data-turbolinks-track" => true %>
</body>