<% @themes.each do |theme| %>
	<div id='shapeshift-store-item-<%= theme.id %>' class="shapeshift-item product-item">
		<div class="row">

			<div class="col-xs-12">
				<img class="product-image" src="https://lh3.googleusercontent.com/_-GVaVdTHtZIn_HdhVq1_RUVG-HzXaSh1cY3Fu8udWW-=w1552-h970-no" alt=<%= theme.name %>></img>
			</div>

			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="product-font product-title"><%= theme.name %></h2>
					</div>

					<div class="col-xs-12">
						<h3 class="product-category">
							<span class="product-font product-sub-title">Suitable for: </span>
						</h3>
						<p class="product-font category-value"><%= theme.category %> food</p>
					</div>

					<div class="col-xs-12">
						<h3 class="product-description">
							<span class="product-font product-sub-title">Details: </span>
						</h3>
						<p class="product-font description-value">Description</p>
					</div>

					<div class="col-xs-12">
						<h3 class="product-price">
							<span class="product-font product-sub-title">Price: </span>
							<span class="product-font price-value"><%= number_to_currency theme.price %></span>
						</h3>
					</div>
				</div>
			</div>


			<div class="col-xs-12">
				<div class="row">
					<%= form_for @order_item, remote: true do |f| %>
						<div class="col-xs-12">
							<%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
							<%= f.hidden_field :theme_id, value: theme.id %>
						</div>
						<div class="col-xs-12">
							<%= f.submit "Add to Cart", class: "btn btn-block btn-mobile btn-primary" %>
						</div>
					<% end %>
				</div>
			</div>

		</div>
	</div>
<% end %>