<body class="bg-img-2 bg-cover-screen bg-repeat-y ">
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>

		<section id="theme-selector-index" class="section-1 pebble bg-pebble-white">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Shopping for Themes</h1>
				</div>
			</div>

			<% unless has_no_contents? @themes %>
				<div class="row">
					<div class="col-xs-12">
						<div id='shapeshift-list' class='shapeshift-list'>
							<%= render 'theme_row' %>
						</div>
					</div>
				</div>
			<% else %>
				<div class="row">
					<div class="col-xs-12">
						<h2 class="subtitle">Oops?!?! Out of Stocks!</h2>
						<p>No worries! More designs and publishing soon!</p>
					</div>
				</div>
			<% end %>

			<div class="row">
				<div class="col-xs-12">
					<hr>
				</div>
			</div>

			<% unless has_no_contents? @themes %>
				<div class="row">
					<% unless session[:first_time] %>
						<div class="col-xs-12 col-sm-2">
							<%= link_to "Back", @back_url, class: "btn btn-block btn-mobile btn-warning" %>
						</div>
						<div class="col-xs-12 col-sm-4">
							<%= link_to "To Themes Selector", edit_themes_selectors_path, class: "btn btn-block btn-mobile btn-primary" %>
						</div>
						<div class="col-xs-12 col-sm-6">
							<%= link_to "Go to Cart", cart_path, class: "btn btn-block btn-mobile btn-success" %>
						</div>
					<% else %>
						<div class="col-xs-12">
							<%= link_to "Go to Cart", cart_path, class: "btn btn-block btn-mobile btn-success" %>
						</div>
					<% end %>
				</div>
			<% else %>
				<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-xs-12 col-sm-4">
						<%= link_to "Back To Dashboard", user_accounts_path, class: "btn btn-block btn-mobile btn-warning" %>
					</div>
					<div class="col-sm-4"></div>
				</div>
			<% end %>

		</section>

		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class='footer-spacing'></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>




