<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Maker <%= @user_tags.join(" ") %>" />

	<title><%= @user_account.name %> | Makerz.io</title>

	<link rel="apple-touch-icon" sizes="180x180" href="https://docs.google.com/drawings/d/1laG4hzPJo_eV6lVsIXdfrLS8q7bPnw8JKMcJgmgldQ8/pub?w=180&amp;h=180">
	<link rel="icon" type="image/png" href="https://docs.google.com/drawings/d/1laG4hzPJo_eV6lVsIXdfrLS8q7bPnw8JKMcJgmgldQ8/pub?w=180&amp;h=180">

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<link href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.0/bootstrap-social.min.css">

	<%= stylesheet_link_tag    "hosting_store/all", media: "all", "data-turbolinks-track" => true %>

	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//cdn.jsdelivr.net/jquery.easydropdown/2.1.4/jquery.easydropdown.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.shapeshift/2.0/jquery.shapeshift.min.js"></script>

	<%= javascript_include_tag "hosting_store/all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<!-- Header Starts Here -->
	<div class="banner" >
		<div class="header">
			<div class="container">
				<span class="menu"> Menu</span>

				<div class="banner-top">
					<ul class="nav banner-nav">
						<li>
							<a class="active" href="/">Home</a>
						</li>
						<li>
							<a class="active" href="#profile-introduction">Intro</a>
						</li>
						<li>
							<a class="active" href="#profile-projects">Projects</a>
						</li>
						<li>
							<a class="active" href="#profile-contacts">Contacts</a>
						</li>
					</ul>
					<script>
						$("span.menu").click(function(){
							$(" ul.nav").slideToggle("slow" , function(){
							});
						});
					</script>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="banner-info">
			<h1><%= @user_account.name %></h1>
			<p><%= @universal_makerz_statement %></p>
		</div>
	</div>

	<div class="clearfix"> </div>
	<!-- Header Ends Here -->
	<div class="best">
		<div class="container">
			<article>
				<figure class="float-left"><img src="https://lh3.googleusercontent.com/V9M9_MPqUX6Y5ZzOy3sFDV00CX4Fpj31lsLjU_TNKLBm=w1280-h960-no" width="470" alt="Placeholder"></figure>
				<h2 id="profile-introduction" ><span>Introduction</span> About Me</h2>
				<% unless has_no_contents? @user_account.summary %>
					<p><%= @user_account.summary %></p>
				<% else %>
					<p>More about me is coming up.</p>
				<% end %>
			</article>
		</div>
	</div>

	<div class="plans">
		<div class="container">
			<!-- pricing table -->
			<h1 id="profile-projects" class="heading">My Recent Projects</h1>

			<% unless @projects.blank? %>
				<% @projects.each do | project | %>
					<%= render 'project_model', project: project %>

					<div class="col-md-3 one_third pricing">
						<div class="pricing_top">
							<p><%= project.title %></p>
							<h6><%= project.tags.all.map { |tag| tag.name }.join(", ") %></h6>
						</div>

						<div class="pricing_middle">
							<ul>
								<% unless has_no_contents? project.photos.first %>
									<li><img src="<%= project.photos.first.url %>" alt="<%= project.title %>.img"></img></li>
								<% else %>
									<li><img src="<%= @default_picture %>" alt="<%= project.title %>.img"></img></li>
								<% end %>
								<li><%= project.description[0..50] unless project.description.nil? %>...</li>
							</ul>
						</div>

						<div class="pricing_bottom">
							<a type="button" data-toggle="modal" data-target="#profile-project-<%= project.id %>">Read More</a>
						</div>

					</div>
				<% end %>
			<% else %>
				<h4><center>More projects coming up!...</center></h4>
			<% end %>

			<div class="clearfix"></div>

		</div>
	</div>

	<div class="fullwidth-section semi-background">
		<div class="fullwidth-bg">
			<div class="overlay left-aligned">
				<div class="dt-sc-one-half column first">
					<div class="dt-support">
						<h2 id="profile-contacts"><span>My </span>Contact </h2>
						<p>As dedicated, You can always reach me by the following network:</p>
						<div class="row">
							<% unless has_no_contents? @user_account.twitter_link %>
								<div class="col-xs-3">
									<a href="<%= @user_account.twitter_link %>" class="btn btn-block btn-social-icon btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
								</div>
							<% end %>

							<% unless has_no_contents? @user_account.facebook_link %>
								<div class="col-xs-3">
									<a href="<%= @user_account.facebook_link %>" class="btn btn-block btn-social-icon btn-facebook" target="_blank"><i class="fa fa-facebook"></i></a>
								</div>
							<% end %>

							<% unless has_no_contents? @user_account.google_plus_link %>
								<div class="col-xs-3">
									<a href="<%= @user_account.google_plus_link %>" class="btn btn-block btn-social-icon btn-google" target="_blank"><i class="fa fa-google-plus"></i></a>
								</div>
							<% end %>

							<% unless has_no_contents? @user_account.linkedIn_link %>
								<div class="col-xs-3">
									<a href="<%= @user_account.linkedIn_link %>" class="btn btn-block btn-social-icon btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
								</div>
							<% end %>

							<% if	has_no_contents?(@user_account.twitter_link) &&
									has_no_contents?(@user_account.facebook_link) &&
									has_no_contents?(@user_account.google_plus_link) &&
									has_no_contents?(@user_account.linkedIn_link)
							%>
								<div class="col-xs-12">
									<p>Hold on.. I'm getting them in soon.</p>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- #Footer -->
	<footer>
		<div class="copyrights">
			<div class="container">
				<p>Copyrights &copy; 2015 <%= @user_account.name %> All rights reserved</p>
				<p>Hosted on Makerz.io | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</footer>
	<!-- /#Footer -->

	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
</body>