<body class="bg-img-2 bg-cover-screen bg-repeat-y">
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id="project-new" class="section-1 pebble bg-pebble-white">

			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Edit Account Privacy</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-subtitle">Password</h2>
				</div>

				<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
					<%= form_for(@user, :url => { :action => "update" } ) do |f| %>
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<%= f.label :current_password %>
									<%= f.password_field :current_password, class:'form-control', required: true %>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-group">
									<%= f.label :password, "Password" %><br />
									<%= f.password_field :password, :autocomplete => "off", class:'form-control', required: true %>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-group">
									<%= f.label :password_confirmation %><br />
									<%= f.password_field :password_confirmation, class:'form-control', required: true %>
								</div>
								<hr>
							</div>

							<div class="col-xs-12">
								<div class="actions">
									<div class="row">
										<div class="col-xs-12 col-sm-5">
											<%= link_to "Back", @back_url, class: "btn btn-block btn-mobile btn-warning" %>
										</div>
										<div class="col-xs-12 col-sm-7">
											<%= f.submit "Update", class: "btn btn-block btn-mobile btn-create btn-success" %>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				</div>
				<div class="col-sm-7 col-md-8 col-lg-9"></div>

			</div>

		</section>

		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class='footer-spacing'></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>