<section id="change_password">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Change your password</h2>
      </div>
    </div>
    <div class = "row">
      <div class="col-lg-6 col-lg-offset-3">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.label :password, "New password" %><br />
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class:'form-control', placeholder:"Your New Password *" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm new password" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Your New Password Confirmation *", class:'form-control' %>
          </div>

          <div class="actions">
            <%= f.submit "Change my password", class:'btn btn-default' %>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
