<body class="bg-img-3 bg-cover-screen bg-repeat-y">
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id="project-new" class="section-1 pebble bg-pebble-white">

			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Recover My Password</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-offset-3 col-sm-5">
					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<p class="text-sm">We need your registered <strong>EMAIL</strong> to help out:</p>
									<%= f.email_field :email, autofocus: true, class:'form-control', placeholder:"E.g: Johndoe@email.com", required: true %>
								</div>
								<hr>
							</div>

							<div class="col-xs-12">
								<div class="actions">
									<div class="row">
										<div class="col-xs-12 col-sm-5">
											<%= link_to "Back", new_user_session_path, class: "btn btn-block btn-mobile btn-warning" %>
										</div>
										<div class="col-xs-12 col-sm-7">
											<%= f.submit "Send me reset password instructions", class: 'btn btn-block btn-mobile btn-create btn-success' %>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				</div>
				<div class="col-sm-7 col-md-4"></div>

			</div>

		</section>

		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class='footer-spacing'></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>