<h2>How to reauthorize us to view your email information on facebook</h2><br>

Please follow the steps below:<br><br>

1) Go to <a href="https://www.facebook.com/settings?tab=applications">https://www.facebook.com/settings?tab=applications</a><br>
2) Find <i>makerz.io</i> app.<br>
3) Hover over the <i>makerz.io</i> app and then click on "X" symbol to remove the app.<br>
4) Go back to our site and then click on sign up with Facebook again and this time please dont untick the email priviledge. <br><br>

Sorry for any inconvenience caused.