<body class="bg-img-2 bg-cover-screen bg-repeat-y ">
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id="theme-selector-index" class="section-1 pebble bg-pebble-white">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">We're Done Setting Up!</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<p>Here you go! This is your profile website:</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<p class="align-center"><strong><%= link_to @subdomain_link.to_s, @subdomain_link, class: "align-center" %></strong></p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<hr>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<%= link_to "To Your User Dashboard", user_accounts_path, class: "btn btn-block btn-mobile btn-primary" %>
				</div>
			</div>

		</section>

		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class='footer-spacing'></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>