<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Build your maker profile | Showcase your free-time or profressional creativity and making | Find other makers." />
	<meta name="keywords" content="maker makerz makerz.io project profile portfolio" />
	<meta name="author"      content="Makerz.io" />

	<title>Makerz.io | Makers Database and Network </title>

	<link rel="apple-touch-icon" sizes="180x180" href="https://docs.google.com/drawings/d/1laG4hzPJo_eV6lVsIXdfrLS8q7bPnw8JKMcJgmgldQ8/pub?w=180&amp;h=180">
	<link rel="icon" type="image/png" href="https://docs.google.com/drawings/d/1laG4hzPJo_eV6lVsIXdfrLS8q7bPnw8JKMcJgmgldQ8/pub?w=180&amp;h=180">

	<link rel='stylesheet' href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700'>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo:400,400italic,700">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.0/bootstrap-social.min.css">
	<%= stylesheet_link_tag    "default/all", media: "all", "data-turbolinks-track" => true %>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.shapeshift/2.0/jquery.shapeshift.min.js"></script>
	<%= javascript_include_tag "default/all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>

<body>
	<%= render 'layouts/partials/common/body/header' %>

	<section class="section ctn-show-xs">
		<div class="ctn-full-window ctn-full-screen bg-img-1 bg-cover"></div>
		<div class="ctn-window-contents vp-center">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Makerz.io</h1>
					<p class="section-subtitle">Building Your Maker's Profile | <strong class="highlight-red">Alpha Version</strong></p>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-block btn-success' %>
						</div>
						<div class="col-xs-12">
							<%= link_to 'Login', new_user_session_path, class: 'btn btn-block btn-primary' %>
						</div>
						<div class="col-xs-12">
							<%= link_to 'Learn More', explained_path, class: 'btn btn-block btn-warning ctn-next' %>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<br>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-4" align="center">
							<%= link_to 'Privacy', privacy_path, class: "landing-link" %>
						</div>
						<div class="col-xs-4" align="center">
							<%= link_to 'Terms', terms_of_services_path, class: "landing-link" %>
						</div>
						<div class="col-xs-4" align="center">
							<%= link_to 'Contact', contact_us_path	, class: "landing-link" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section ctn-show-sm">
		<div class="ctn-full-window">
			<div class="ctn-half-window ctn-content-window ctn-left-window-wrap-in">
				<div class="ctn-window-contents vp-center">
					<h2>What is Makerz.io?</h2>
					<p>Makerz.io is South East Asia Maker online community.<br>
						<br>
						We want to be a platform for you to connect and collaborate with other makers in the region.<br>
						<br>
					</p>

					<%= link_to 'Okay, What Do You Guys Offers?', '#0', class: 'btn btn-block btn-default ctn-next' %>
				</div>

			</div>

			<div class="ctn-half-window ctn-image-window ctn-right-window-wrap-in bg-img-2"></div>
		</div>
	</section>

	<section class="section ctn-show-sm">
		<div class="ctn-full-window">
			<div class="ctn-half-window ctn-content-window ctn-left-window-wrap-in">
				<div class="ctn-window-contents vp-center">
					<h2>Web Templates For Now...</h2>

					<p>
						Our very first step is getting others to know about you by building and managing your maker profile easily. We are here for that!<br>
						<br>
						With a few simple clicks you will have your own maker profile.<br>
						<br>
						Here is a <%= link_to 'Sneak Peek', 'http://hollowaykeanho.makerz.io/', target: "_blank" %>!<br>
						<br>
					</p>
					<%= link_to 'Do You Charge?', '#0', class: 'btn btn-block btn-default ctn-next' %>
				</div>
			</div>

			<div class="ctn-half-window ctn-image-window ctn-right-window-wrap-in bg-img-3"></div>
		</div>
	</section>

	<section class="section ctn-show-sm">
		<div class="ctn-full-window">

			<div class="ctn-half-window ctn-content-window ctn-left-window-wrap-in">
				<div class="ctn-window-contents vp-center">
					<h2>Purchase Only When You Need</h2>
					<p>
						It's <strong>FREE</strong>. Entrance, default templates etc.<br>
						<br>
						<br>
						Customisation is available at your finger tip for a fee.<br>
						Have a chat with us about your requirement.<br>
					</p>
					<%= link_to 'Easy to Use?', '#0', class: 'btn btn-block btn-default ctn-next' %>
				</div>
			</div>

			<div class="ctn-half-window ctn-image-window ctn-right-window-wrap-in bg-img-4"></div>

		</div>
	</section>

	<section class="section ctn-show-sm">
		<div class="ctn-full-window">

			<div class="ctn-half-window ctn-content-window ctn-left-window-wrap-in">
				<div class="ctn-window-contents vp-center">
					<h2>Simple Form Filling</h2>
					<p>We'll handle the tech, the codes, bit and bytes.</p>
					<%= link_to 'Can I Try?', '#0', class: 'btn btn-block btn-default ctn-next' %>
				</div>
			</div>

			<div class="ctn-half-window ctn-image-window ctn-right-window-wrap-in bg-img-5"></div>

		</div>
	</section>

	<section class="section ctn-show-sm">
		<div class="ctn-full-window">

			<div class="ctn-half-window ctn-content-window ctn-left-window-wrap-in">
				<div class="ctn-window-contents vp-center">
					<h2>Absolutely!</h2>
					<p>Makerz.io - Connecting Makers.</p>
					<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-block btn-success' %>
				</div>
			</div>

			<div class="ctn-half-window ctn-image-window ctn-right-window-wrap-in bg-img-6"></div>

		</div>
	</section>

	<nav>
		<ul class="ctn-vertical-nav ctn-show-sm">
			<li><a href="#0" class="ctn-prev inactive"><i class="fa fa-chevron-up bg-col-clouds"></i></a></li>
			<li><a href="#0" class="ctn-next"><i class="fa fa-chevron-down bg-col-clouds"></i></a></li>
		</ul>
	</nav> <!-- .ctn-vertical-nav -->

	<%= render 'layouts/partials/common/body/analytics' %>
</body>