.bg-img-1 {
	background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(https://lh3.googleusercontent.com/aaQAaYY174-_uqDQbTGvkOc4vzysW0bWB58r_DayqqMc=w494-h329-no);
}
.bg-img-2 {
	background-image: url(https://lh3.googleusercontent.com/yNW4b8tYVxltMQJlaEEPS9EJ5UKiwpCHhu-Xi5x3lQwG=w1235-h927-no);
}
.bg-img-3 {
	background-image: url(https://lh3.googleusercontent.com/GNg_tFTIr2Rt5LNcyd8k7rN0pOJoGGLWGGsBLkXdkVuZ=w1465-h970-no);
}
.bg-img-4 {
	background-image: url(https://lh3.googleusercontent.com/haRe4eLVRxGmKZj8df1AJLKcwLTobmcnndyFNBIb-pkL=w483-h320-no);
}
.bg-img-5 {
	background-image: url(https://lh3.googleusercontent.com/FjmgxIya9miKLX-1qSrrfosAwNyBW_f18lklxoGUyVgN=w1389-h926-no);
}
.bg-img-6 {
	background-image: url(https://lh3.googleusercontent.com/SaE-2gd0KAM35RkJPsuBkRPMwNP-wB_yU2k4EM_jySSI=w1398-h926-no);
}
/* Flat UI Color */
.bg-col-clouds {
	background-color: #ecf0f1;
}