p {
	font-size: 17px;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.section-title {
	text-transform: uppercase;
	color: white;
	font-size: 2em;
}
.section-subtitle {
	color: white;
	font-size: 1em;
}
.text-italic {
	font-style: italic;
}
.text-xs {
	font-size: 15px;
}
.text-sm {
	font-size: 17px;
}
.text-md {
	font-size: 20px;
}
.text-lg {
	font-size: 23px;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.highlight-red {
	color: red;
}