<div class="modal fade" id="modal-show-project-<%= project.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
		<%= render 'form_model_showcase', project: project %>

		<div class="modal-footer">
			<div class='row'>
				<div class='col-xs-12'>
					<%= link_to 'Delete', project, method: :delete, class: 'btn btn-block btn-mobile btn-danger',
						data: { :confirm => "Are you sure you want to delete #{project.title}",
								:'confirm-button-text' => 'Yes',
								:'cancel-button-text' => 'No way',
								:'confirm-button-color' => '#66CD00 ',
								:'sweet-alert-type' => 'info'
							  }
					%>
				</div>
				<div class='col-xs-12'>
					<%= link_to 'Modify', edit_project_path(project.id), class: 'btn btn-block btn-mobile btn-warning' %>
				</div>
				<div class='col-xs-12'>
					<button type="button" class="btn btn-block btn-mobile btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>