<%= form_for @project, :html => {:multipart => true}, validate: true do |f| %>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<span>Let's Give a <strong>TITLE</strong>: <strong style="color: red;">*</strong></span>
				<%= f.text_field :title, autofocus: true, class:'form-control', placeholder: "E.g: Bravo's Backing Machine", required: true %>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="form-group">
				<span><strong>MOTIVATION</strong> for making it: <strong style="color: red;">*</strong></span>
				<%= f.text_field :motivation, autofocus: true, class:'form-control', placeholder: "E.g.: I created this mainly for plain fun and helping people do XYZ.", required: true %>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="form-group">
				<span>Any <strong>DESCRIPTION</strong> for your masterpiece? <strong style="color: red;">*</strong></span>
				<%= f.text_area :description, autofocus: true, class:'form-control', rows: 4, placeholder: "E.g.: Well, it started of using some scrap metal, creating the body frame ....", required: true %>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="form-group">
				<span><strong>METHODS</strong> of making?</span>
				<br>
				<p class="text-xs">*Leave blank if you don't wish to share.</p>
				<%= f.text_area :method, autofocus: true, class:'form-control', rows: 4, placeholder: "Tell us more about how it works!\nLeave it empty if you don't wish to share. ;-) " %>

			</div>
		</div>

		<div class="col-xs-12">
			<div class="form-group">
				<span><strong>ADDITIONAL</strong>notes?</span>
				<%= f.text_area :additional, autofocus: true, class:'form-control', rows: 4, placeholder: "Anything left out from here?" %>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="form-group">
				<span>Any <strong>PHOTO</strong> link?</span>
				<%= f.fields_for :photos do |ff| %>
					<%= ff.url_field :url, autofocus: true, class:'form-control', placeholder: "E.g: http://phtozo.com/555" %>
				<% end %>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="form-group">
				<span>Any<strong>VIDEO</strong> embed link?</span>
				<%= f.fields_for :videos do |ff| %>
					<%= ff.text_field :url, autofocus: true, class:'form-control', placeholder: 'E.g: <iframe width="640" height="360" src="https://www.youtube.com/embed/0HsPzzWnFbo" frameborder="0" allowfullscreen></iframe>' %>
				<% end %>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="form-group">
				<span>Finally Let's give some <strong>MAKERZ TAGS</strong>:</span>
				<%= f.text_field :project_tags_object, autofocus: true, class:'form-control', placeholder: "E.g: food, electronics, 3d_printer", required: true %>
			</div>
		</div>
	</div>

	<div class="actions">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<%= link_to "Project Dashboard", projects_path, class: "btn btn-block btn-mobile btn-warning" %>
			</div>
			<div class="col-xs-12 col-sm-8">
				<%= f.submit "Create / Update", class: "btn btn-block btn-mobile btn-create btn-success" %>
			</div>
		</div>
	</div>
<% end %>