<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<% unless has_no_contents? project.title %>
		<h4 class="modal-title"><%= project.title %></h4>
	<% else %>
		<h4 class="modal-title">Untitled</h4>
	<% end %>
</div>

<div class="modal-body">
	<div class='row'>
		<% unless has_no_contents? project.photos.first %>
			<div class='col-xs-12'>
				<img class="project-item-img" src="<%= project.photos.first.url %>" alt="<%= project.title %>.img"></img>
				<hr>
			</div>
		<% end %>

		<div class='col-xs-12'>
			<h5 class='text-lg'> Motivation </h5>
			<% unless has_no_contents? project.motivation %>
				<p class='text-sm'><%= project.motivation %></p>
			<% else %>
				<p>-</p>
			<% end %>
			<hr>
		</div>

		<div class='col-xs-12'>
			<h5 class='text-lg'> Description </h5>
			<% unless has_no_contents? project.description %>
				<p class='text-sm'><%= project.description %></p>
			<% else %>
				<p>-</p>
			<% end %>
			<hr>
		</div>
	</div>

	<div class='row'>
		<div class='col-xs-12'>
			<h5 class='text-lg'> Method </h5>
			<% unless has_no_contents? project.method %>
				<p class='text-sm'><%= project.method %></p>
			<% else %>
				<p>-</p>
			<% end %>
			<hr>
		</div>

		<% unless has_no_contents? project.videos.first %>
			<div class='col-xs-12'>
				<h5 class='text-lg'> Media </h5>
				<div class="project-item-video-container">
						<iframe class="project-item-video-frame" src="<%= project.videos.first.url %>" frameborder="0" allowfullscreen></iframe>
				</div>
				<hr>
			</div>
		<% end %>

		<div class='col-xs-12'>
			<h5 class='text-lg'> Additional </h5>
			<% unless has_no_contents? project.additional %>
				<p class='text-sm'><%= project.additional %></p>
			<% else %>
				<p>-</p>
			<% end %>
			<hr>
		</div>


		<div class='col-xs-12'>
			<h5 class='text-lg'>Tags</h5>
			<% unless has_no_contents? project.tags %>
				<p class='text-sm'><%= project.tags.all.map{ |tag| tag.name }.join(', ')  %></p>
			<% else %>
				<p>-</p>
			<% end %>
			<hr>
		</div>
	</div>
</div>