<body class="bg-img-2 bg-cover-screen bg-repeat-y ">
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id="project-edit" class="section-1 pebble bg-pebble-white">

			<div class="row">
				<div class="col-xs-12">
					<h2 class="section-heading">Edit Project</h2>
				</div>
			</div>

			<% unless @project.nil? %>
				<%= render 'projects/form' %>
			<% end %>

		</section>

		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class='footer-spacing'></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>