<body class='bg-img-2 bg-cover-screen bg-repeat-y'>
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id='project-index' class='section-1 bg-pebble-white pebble'>

			<div class='row'>
				<% unless @projects.empty? %>
					<div class='col-xs-12 col-sm-9'>
						<h1 class='section-title'>My Projects</h1>
					</div>
					<div class='col-xs-12 col-sm-3'>
						<%= link_to new_project_path, class: "btn btn-block btn-primary" do %>
							<span class="glyphicon glyphicon-plus"></span> New Project</a>
						<% end %>
					</div>
				<% else %>
					<div class='col-xs-12'>
						<h1 class='section-title'>My Projects</h1>
					</div>
				<% end %>
			</div>


			<div class='row'>
				<% unless @projects.empty? %>
					<div id='shapeshift-list' class='shapeshift-list'>
						<% @projects.each do |project| %>
							<div id='shapeshift-project-item-<%= project.id %>' class='shapeshift-item'>
								<%= render 'form_model', project: project %>
								<div onClick='projectPopup(<%= project.id %>)' class="project-item-pebble bg-color-dark-blue">
									<% unless has_no_contents? project.photos.first %>
										<img class="project-item-img" src="<%= project.photos.first.url %>" alt="<%= project.title %>.img"></img>
									<% else %>
										<img class="project-item-img" src="<%= @default_picture %>" alt="<%= project.title %>.img"></img>
									<% end %>
									<h5><%= project.title %></h5>
								</div>

							</div>
						<% end %>
					</div>
				<% else %>
					<div class='col-xs-12' style='text-align: center;'>
						<div class='row bg-warning text-warning'>
							<div class='col-xs-12'>
								<h2>Oh dear!</h2>
								<p class='text-sm'>We can't find any.</p>
							</div>
						</div>
						<div class='row'>
							<div class='col-xs-12'>
								<%= link_to new_project_path, class: "btn btn-block btn-mobile btn-primary" do %>
									<span class="glyphicon glyphicon-plus"></span> Add your first project?</a>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
				<div class="col-xs-12">
					<hr>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4">
				</div>
				<div class="col-sm-4">
					<%= link_to "Back to Dashboard", user_accounts_path, class: "btn btn-block btn-mobile btn-warning" %>
				</div>
				<div class="col-sm-4">
				</div>
			</div>
		</section>
		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class="footer-spacing"></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>
