<body class="bg-img-2 bg-cover-screen bg-repeat-y ">
	<%= render 'layouts/partials/common/body/header' %>
	<div class="content-wrapper"></div>
		<section id="project-show" class="section-1 pebble bg-pebble-white">

			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title"><%= @project.title %></h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<% unless has_no_contents? @project.photos.first %>
							<img class="project-item-img" src='<%= @project.photos.first.url %>' alt="<%= @project.title %>.img"></img>
					<% end %>

					<div class="align-center">
						<% unless has_no_contents? @project_tags %>
							<div class="row">
								<div class="col-xs-12">
									<h5>
									<%= @project_tags[0][0].match(/a|e|i|o|u/).nil? ? "A" : "An" %>
									<% @project_tags.each_with_index do |tag, index| %>
										<a href="#"><%= tag %></a>
										<% case index %>
										<% when @project_tags.size - 2 %>
											and
										<% when @project_tags.size - 1 %>
										<% else %>
											,
										<% end %>
									<% end %>
									project. </h5>
								</div>
							</div>
						<% end %>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-4">
							<h5><b>Date Made:</b></h5>
						</div>
						<div class="col-xs-8">
							<p> <%= @project.created_at %> </p>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<hr>
				</div>
			</div>

			<div class="row">
				<div class='col-xs-12'>
					<h2>Maker:</h2>
				</div>

				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-4">
							<h5><b>Name:</b></h5>
						</div>
						<div class="col-xs-8">
							<p> <%= @owner.name %> </p>
						</div>
					</div>

					<% unless has_no_contents? @owner_tags %>
						<div class="row">
							<div class="col-xs-4">
								<h5><b>Maker of:</b></h5>
							</div>
							<div class="col-xs-8">
								<h5>
									<% @owner_tags.each_with_index do |tag, index| %>
										<a href="#"><%= tag %></a>
										<% case index %>
										<% when @owner_tags.size - 1 %>
										<% else %>
											,
										<% end %>
									<% end %>
								</h5>
							</div>
						</div>
					<% end %>

					<div class="row">
						<div class="col-xs-4">
							<h5><b>Profile:</b></h5>
						</div>
						<div class="col-xs-8">
							<p> <%= @owner.summary %> </p>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-4">
							<h5><b>Contact:</b></h5>
						</div>
						<div class="col-xs-8">
							<% unless @owner.facebook_link.empty? %>
								<a class="btn btn-social-icon btn-facebook" href="<%= @owner.facebook_link %>"><i class="fa fa-facebook"></i></a>
							<% end %>
							<% unless @owner.twitter_link.empty? %>
								<a class="btn btn-social-icon btn-twitter" href="<%= @owner.twitter_link %>"><i class="fa fa-twitter"></i></a>
							<% end %>
							<% unless @owner.linkedIn_link.empty? %>
								<a class="btn btn-social-icon btn-linkedin" href="<%= @owner.linkedIn_link %>"><i class="fa fa-linkedin"></i></a>
							<% end %>
							<% unless @owner.google_plus_link.empty? %>
								<a class="btn btn-social-icon btn-google" href="<%= @owner.google_plus_link %>"><i class="fa fa-google-plus"></i></a>
							<% end %>
						</div>
					</div>
				</div>

				<div class="col-xs-12">
					<hr>
				</div>
			</div>

			<div class="row">
				<div class='col-xs-12 col-sm-4'>
					<h2>Inspiration</h2>
				</div>

				<div class="col-xs-12 col-sm-8">
					<p><%= @project.motivation %> </p>
				</div>

				<div class="col-xs-12">
					<hr>
				</div>
			</div>

			<% unless has_no_contents? @project.videos.first %>
				<div class="row">
					<div class='col-xs-12 col-sm-4'>
						<h2>Media</h2>
					</div>
					<div class="col-xs-12 col-sm-8">
						<div class="project-item-video-container">
								<iframe class="project-item-video-frame" src="<%= @project.videos.first.url %>" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-xs-12">
						<hr>
					</div>
				</div>
			<% end %>

			<div class="row">
				<div class='col-xs-12 col-sm-4'>
					<h2>The Story</h2>
				</div>

				<div class="col-xs-12 col-sm-8">
					<p> <%= @project.description %> </p>
				</div>

				<div class="col-xs-12">
					<hr>
				</div>
			</div>

			<% unless @project.method.nil? %>
				<div class="row">
					<div class='col-xs-12 col-sm-4'>
						<h2>How it Works</h2>
					</div>

					<div class="col-xs-12 col-sm-8">
						<p> <%= @project.method %> </p>
					</div>

					<div class="col-xs-12">
						<hr>
					</div>
				</div>
			<% end %>

			<div class="row">
				<div class='col-xs-12 col-sm-4'>
					<h2>Remarks</h2>
				</div>

				<div class="col-xs-12 col-sm-8">
					<p> <%= @project.additional %> </p>
				</div>

				<div class="col-xs-12">
					<hr>
				</div>
			</div>

			<div class="row">
				<% unless current_user %>
					<div class="col-xs-12">
						<%= link_to "User Dashboard", projects_path, class: "btn btn-block btn-mobile btn-warning" %>
					</div>
				<% else %>
					<div class="col-xs-12">
						<%= link_to "Sign Up to Know More", projects_path, class: "btn btn-block btn-mobile btn-default" %>
					</div>
				<% end %>
			</div>

		</section>
		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class="footer-spacing"></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>