<%= form_for order_item, remote: true do |f| %>
	<div class="cart-item">
		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<h4 class="subtitle"><%= theme.name %></h4>
			</div>

			<div class="col-xs-6 col-sm-1">
				<%= f.hidden_field :theme_id, value: theme.id %>
				<%= link_to "remove", order_item,
				{ data: { confirm: "Are you sure you wish to delete the theme '#{order_item.theme.name}' from your cart?"},
				method: :delete, remote: true, class: "btn btn-danger" } %>
			</div>

			<div class="col-xs-6 col-sm-4">
				<h4 class="cart-price"><%= number_to_currency order_item.unit_price %></h4>
			</div>

		</div>
	</div>
<% end %>