<%= form_tag "#{Rails.application.secrets.paypal_url}" do %>
  <%= hidden_field_tag :cmd, "_s-xclick" %>
  <%= hidden_field_tag :encrypted, current_order.paypal_url(@payment_return_path, current_user) %>
  <%= submit_tag "Checkout", class: "btn btn-block btn-mobile btn-primary" %>
<% end %>