<div class="row">
	<div class="col-xs-12">
		<% if !@order_item.nil? && @order_item.errors.any? %>
			<div class="alert alert-danger">
				<ul>
				<% @order_item.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>
	</div>

	<% if @order_items.blank? %>
		<div class="col-xs-12">
			<h2 class="section-subtitle align-center">
				Oops! Found Empty.
			</h2>
		</div>

		<div class="col-sm-2"></div>
		<div class="col-xs-12 col-sm-8">
			<%= link_to "Let's Go Shopping!", themes_path, class: "btn btn-block btn-mobile btn-success" %>
		</div>
		<div class="col-sm-2"></div>

		<div class="col-xs-12">
			<hr>
		</div>

	<% else %>
		<div class="col-xs-12">
			<% @order_items.each do |order_item| %>
				<%= render 'carts/cart_row', theme: order_item.theme, order_item: order_item, show_total: true %>
			<% end %>
		</div>

		<div class="col-xs-12">
			<hr>
		</div>

		<div class="col-xs-12">
			<div class="cart-footprint">
				<div class="row">
					<div class="col-xs-6 col-sm-7">
						<h4 class="subtitle"><strong>Total</strong>:</h4>
					</div>

					<div class="col-sm-1"></div>

					<div class="col-xs-6 col-sm-4">
						<h4 class="subtitle cart-price"><%= number_to_currency current_order.subtotal %></h4>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12">
			<hr>
		</div>

		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<%= link_to "Continue Shopping", :themes, class: "btn btn-block btn-mobile btn-warning" %>
				</div>
				<div class="col-xs-12 col-sm-8">
					<%= render 'carts/paypal_checkout' %>
				</div>
			</div>
		</div>

	<% end %>
</div>