<body class="bg-img-2 bg-cover-screen bg-repeat-y ">
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>

		<section id="theme-selector-index" class="section-1 pebble bg-pebble-white">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Your Shopping Cart</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="shopping-cart">
						<%= render "shopping_cart" %>
					</div>
				</div>
			</div>

		</section>

		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class='footer-spacing'></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>