.project-item-video-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 60%;
}
.project-item-video-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.project-item-img {
	display: block;
	width: 100%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
