<body class="bg-img-3 bg-cover-screen">
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id="user-login" class="section-1 single-section">
			<div class="user-form bg-pebble-white">
				<div class="row">
					<div class="col-xs-12">
						<h1 class="section-title">Login</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-horizontal") do |f| %>

							<div class="form-group">
								<%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Email", required: true %>
							</div>

							<div class="form-group">
								<%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Password", required:true %>
							</div>

							<div class="form-group">
								<% if devise_mapping.rememberable? -%>
									<div class="form-group row">
										<div class="col-xs-6">
											<%= f.check_box :remember_me %>
											<%= f.label :remember_me %>
										</div>
										<div class="col-xs-6 text-align-right" >
											<%= link_to "Forgot Password?", new_password_path(resource_name) %>
										</div>
									</div>
								<% end -%>
							</div>

							<div class="actions">
								<%= f.submit "Sign In", class: "btn btn-block btn-social btn-primary" %>

							</div>
						<% end %>
						<div class="row">
							<div class="col-xs-12">
								<hr>
							</div>
							<div class="col-xs-12">
								<div class="not-member">
									<p>Not a member? <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-success" %></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class='footer-spacing'></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>