<%# app/views/projects/_list.html.erb %>
<div id="filterrific_results">

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<%= page_entries_info projects %>
		</div>
		<div class="col-xs-12 col-sm-6">
			<%= render_filterrific_spinner %>
		</div>
	</div>

	<div class="row">
		<div class="table-responsive">
			<table class="table table-hover">
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Additional</th>
					<th>Tags</th>
					<th>Registered at</th>
					<th>Maker Name</th>
				</tr>
				<% projects.each do |project| %>
					<tr>
						<td><%= link_to(project.title, project_path(project)) %></td>
						<td><%= project.description %></td>
						<td><%= project.additional %></td>
						<td><% project.tags.each do |tag| %>
								<%= tag.name %> ,
								<% end %></td>
						<td><%= project.decorated_created_at %></td>
						<td><%= link_to project.user.user_account.name, root_url(:subdomain => project.user.user_account.subdomain) %>
							</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>

</div>

<%= will_paginate projects, renderer: BootstrapPagination::Rails %>