<body class='bg-img-2 bg-cover-screen bg-repeat-y'>
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id='project-index' class='section-1 bg-pebble-white pebble'>
			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Search Project By:</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<%= form_for_filterrific @filterrific, url: project_search_path, remote: true do |f| %>
						<div class="row">
							<div class="col-xs-12">

							</div>

							<div class="col-xs-12">
								<div class="form-group">
									<h2 class="section-subtitle">Title:</h2>
									<%= f.text_field(:search_query, class: 'form-control filterrific-periodically-observed') %>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<h2 class="section-subtitle">Tag:</h2>
									<%= f.text_field(:with_tag_id, class: 'form-control filterrific-periodically-observed') %>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<h2 class="section-subtitle">Sorted by</h2>
									<%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, {class: "form-control"}) %>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<%= link_to 'New Search', reset_filterrific_url, class: "btn btn-block btn-mobile btn-warning"  %>
										</div>
										<div class="col-xs-12 col-sm-6">
											<%= f.submit "Show projects", class: "btn btn-block btn-mobile btn-success" %>
										</div>
									</div>
								</div>
							</div>
						</div>

					<% end %>
				</div>

				<div class="col-xs-12 col-sm-offset-1 col-sm-7">
					<div id="results">
						<%= render(partial: 'list', locals: { projects: @projects }) %>
					</div>
				</div>
			</div>

<script type="text/javascript">
	$('.js-datepicker').datepicker();
</script>

		</section>
		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class="footer-spacing"></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>
