<% if flash.now[:notice] == "You have order this theme before"  %>
	swal("Oops...", "You have order this theme before", "warning")
<% elsif flash.now[:notice] == "You have bought this theme before" %>
	swal("Oops...", "You have bought this theme before", "warning")
<% elsif @order.errors.any? || @order_item.errors.any? %>
	swal("Oops...", "Not Valid", "error")
<% end %>
$(".cart-text").html("<%= escape_javascript(render 'layouts/partials/common/body/cart_text') %>")
