<body class="bg-img-2 bg-cover-screen bg-repeat-y ">
	<%= render 'layouts/partials/common/body/header' %>
	<div class='content-wrapper'>
		<section id="theme-selector-index" class="section-1 pebble bg-pebble-white">
			<div class="row">
				<div class="col-xs-12">
					<% if session[:first_time] %>
						<h1 class="section-title">Select A Profile Theme</h1>
					<% else %>
						<h1 class="section-title">Managing Themes</h1>
					<% end %>
				</div>
			</div>

			<div class="row">
				<% unless @user_account.nil? %>

					<div class="col-xs-12">
						<%= form_for(@user_account) do |f| %>
							<div class="row">
								<% unless has_no_contents? @themes %>
									<div class="col-xs-12">
										<div id='shapeshift-list' class='shapeshift-list'>
											<% @themes.each do |theme| %>
												<% unless theme.name.nil? || theme.name.blank? %>
													<label id="theme-option-<%= theme.id %>" class="shapeshift-item theme-option-item theme-option">
														<%= f.radio_button :current_theme, theme.id, class: "invisible-input-radio", checked: @user_account.current_theme == theme.id %>
														<img src="<%= theme.thumbnail_url %>"></img>
														<h4><%= theme.name %></h4>
													</label>
												<% end %>
											<% end %>
										</div>
									</div>
									<% if session[:first_time] %>
										<div class="col-xs-12 col-sm-12">
											<%= f.submit "Select Theme", class: "btn btn-block btn-mobile btn-primary" %>
										</div>
									<% else %>
										<div class="col-xs-12 col-sm-2">
											<%= link_to "Back", @back_url, class: "btn btn-block btn-mobile btn-warning" %>
										</div>
										<div class="col-xs-12 col-sm-4">
											<%= link_to "Shop for More", themes_path, class: "btn btn-block btn-mobile btn-success", disabled: true %>
										</div>
										<div class="col-xs-12 col-sm-6">
											<%= f.submit "Select Theme", class: "btn btn-block btn-mobile btn-primary" %>
										</div>
									<% end %>
								<% else %>
									<div class="col-xs-12">
										<p>Appearently, we found no themes. Shop for one? </p>
									</div>
									<% if session[:first_time] %>
										<div class="col-xs-12">
											<%= link_to "Shop for Themes", themes_path, class: "btn btn-block btn-mobile btn-success", disabled: true %>
										</div>
									<% else %>
										<div class="col-xs-12 col-sm-4">
											<%= link_to "Back", @back_url, class: "btn btn-block btn-mobile btn-warning" %>
										</div>
										<div class="col-xs-12 col-sm-8">
											<%= link_to "Shop for Themes", themes_path, class: "btn btn-block btn-mobile btn-success", disabled: true %>
										</div>
									<% end %>
								<% end %>
							</div>
						<% end %>
					</div>

				<% else %>
					<div class="col-xs-12">
						<p>Appearently, you don't have any user profile. We need one for you. Let's create one?</p>
					</div>
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<%= link_to "Back", @back_url, class: "btn btn-block btn-mobile btn-warning" %>
							</div>
							<div class="col-xs-12 col-sm-8">
								<%= link_to "Create My Profile", edit_user_registration_path, class: "btn btn-block btn-mobile btn-primary" %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</section>

		<%= render 'layouts/partials/common/body/alert_container' %>
		<div class='footer-spacing'></div>
	</div>
	<%= render 'layouts/partials/common/body/footer' %>
</body>