.bg-cover-screen {
	margin-right: 0px;
	margin-left: 0px;

	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	-webkit-background-size: cover;
	background-size: cover;
}
.bg-repeat-y {
	background-repeat: repeat-y;
}
.img-auto-width {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}