/*--------------------------------------------------------------------------
	Background Images
--------------------------------------------------------------------------*/
.bg-img-2 {
	background-color: #2c3e50;
}
.bg-img-3 {
	background-image: url(https://lh3.googleusercontent.com/aaQAaYY174-_uqDQbTGvkOc4vzysW0bWB58r_DayqqMc=w494-h329-no)
}
.bg-img-error {
	background-image: url(https://lh3.googleusercontent.com/Ln5rAzCNBe17oxEA9HtdWOJuQNlBIfsE8y-oJmSUA8Sp=w1280-h720-no);
}
.bg-img-red-block {
	background-color: #e74c3c;
}
.bg-img-yellow-blur {
	background-color: #f1c40f;
}
/*--------------------------------------------------------------------------
	Background Pebbles
--------------------------------------------------------------------------*/
.bg-pebble-white {
	background-color: #FFF;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.bg-color-dark-blue {
	background-color: #0c1424;
	-moz-border-radius: 5px;
	border-radius: 5px;
}