/*--------------------------------------------------------------------------
	General
--------------------------------------------------------------------------*/
html {
  position: relative;
	min-height: 100%;
}
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Cardo', serif;
}
body.content-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
body::before {
	content: 'mobile';
	display: none;
}
@media (min-width: 770px) {
  body {
    height: inherit;
  }
}
@media only screen and (min-width: 1170px) {
	body::before {
		content: 'desktop';
	}
}
.btn,
input,
textarea {
	border-radius: 5px !important;
}

/*--------------------------------------------------------------------------
	Typography
--------------------------------------------------------------------------*/
p {
	font-size: 17px;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.section-title {
  font-size: 26px;
  letter-spacing: 4px;
  position: relative;
  padding-bottom: 20px;
  margin-top: 0px;
}
.section-title:after {
  content: '';
  display: block;
  width: 34px;
  height: 3px;
  margin: 11px 0px 0px 0px;
  background: #333333;
}
.text-center .section-title:after {
  margin: 11px auto 0px auto;
}
.section-subtitle {
  font-size: 20px;
  margin: 10px 0 20px;
  letter-spacing: 2px;
}
.text-italic {
  font-style: italic;
}
.text-xs {
  font-size: 10px;
}
.text-sm {
  font-size: 15px;
}
.text-md {
  font-size: 17px;
}
.text-lg {
  font-size: 20px;
}
.text-xl {
  font-size: 23px;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.section-header {
	margin-bottom: 50px;
}

/*--------------------------------------------------------------------------
	Buttons
--------------------------------------------------------------------------*/
.btn-mobile {
  margin-top: 10px;
  margin-bottom: 10px;

  line-height: 35px;
  height: 50px;

  box-shadow: 1px 1px 5px #34495e;
}
/*--------------------------------------------------------------------------
	Section
--------------------------------------------------------------------------*/
.pebble {
  width: 90%;
  min-height: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}
@media (min-width: 750px) {
  .pebble {
    padding: 3%;
  }
}