/*--------------------------------------------------------------------------
	Footer
--------------------------------------------------------------------------*/
.footer-spacing {
  height: 40px;
  margin-bottom: 100px;
}
footer, .footer {
  display: block;

  height: 90px;
  position: absolute;
  bottom: 0;

  background:#efefef;
  margin: auto;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
#footer a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #777;
  text-decoration: none;
}
#footer a:hover {
  color: #000;
}
#footer .copyright {
  margin-top: 12px;
}