/*--------------------------------------------------------------------------
	Nav Bar
--------------------------------------------------------------------------*/
.content-wrapper {
	margin-top: 120px;
}
.navbar-classic {
	height: 75px;
	padding: 10px;

	opacity: 0.9;
	border-color: #F9F9F9;
	background-color: #F9F9F9;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(150, 150, 150, 0.3);
	box-shadow:         0px 3px 7px 0px rgba(150, 150, 150, 0.3);
}
.navbar-classic .navbar-brand {
	color: #333;
	text-transform: uppercase;
	font-weight: 700;
	display: block;
}
.navbar-classic .navbar-brand span {
	color: #333;
	opacity: 1;
}
.navbar-classic .navbar-brand:hover,
.navbar-classic .navbar-brand:focus {
	color: #5e5e5e;
}
.navbar-classic .navbar-text {
	color: #777;
}
.navbar-classic .navbar-nav > li > a {
	color: #333;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.navbar-classic .navbar-nav > li > a:hover,
.navbar-classic .navbar-nav > li > a:focus {
	color: #5e5e5e;
}
.navbar-classic .navbar-nav > .active > a,
.navbar-classic .navbar-nav > .active > a:hover,
.navbar-classic .navbar-nav > .active > a:focus {
	color: #888;
}
.navbar-classic .navbar-nav > .disabled > a,
.navbar-classic .navbar-nav > .disabled > a:hover,
.navbar-classic .navbar-nav > .disabled > a:focus {
	color: #ccc;
}
.navbar-classic .navbar-toggle {
	background-color: transparent;
	border-color: #999;
}
.navbar-classic .navbar-collapse,
.navbar-classic .navbar-form {
	opacity: 1;
	background-color: #F9F9F9;
	text-align: center;
}
.navbar-classic .navbar-toggle:hover,
.navbar-classic .navbar-toggle:focus {
	background-color: #DDD;
}
.navbar-classic .navbar-toggle .icon-bar {
	background-color: #999;
}
.navbar-classic .navbar-nav > .open > a,
.navbar-classic .navbar-nav > .open > a:hover,
.navbar-classic .navbar-nav > .open > a:focus {
	color: #333;
}
.navbar-classic .navbar-link {
	color: #777;
}
.navbar-classic .navbar-link:hover {
	color: #333;
}
.navbar-classic .btn-link {
	color: #777;
}
.navbar-classic .btn-link:hover,
.navbar-classic .btn-link:focus {
	color: #333;
}
.navbar-classic .btn-link[disabled]:hover,
fieldset[disabled] .navbar-classic .btn-link:hover,
.navbar-classic .btn-link[disabled]:focus,
fieldset[disabled] .navbar-classic .btn-link:focus {
	color: #ccc;
}
@media (max-width: 750px) {
	.navbar-classic .navbar-nav .open .dropdown-menu > li > a {
		color: #777;
	}
	.navbar-classic .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-classic .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #333;
	}
	.navbar-classic .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-classic .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-classic .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #555;
	}
	.navbar-classic .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-classic .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-classic .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #ccc;
	}
}
.nav-bar-logo {
	height: 65px;
	padding: 10px;
	vertical-align: middle;
	margin-top: -20px;
}