#project-show img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.project-item-pebble {
	padding: 30px;
	color: #F1F2B5;
}
.project-item-pebble:hover,
.project-item-pebble:focus {
	background-color: #CECEAB;
	color: #09101C;
}
.project-item-pebble img {
	display: block;
	width: 100%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.project-item-video-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 60%;
}
.project-item-video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.project-item-img {
	display: block;
	width: 100%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}
