/*--------------------------------------------------------------------------
	Basic Form
--------------------------------------------------------------------------*/
.user-form {
	max-width: 300px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 20px;
}
.user-profile-form {
	width: 90%;
	max-width: 500px;
}
/*--------------------------------------------------------------------------
	OAuth Buttons
--------------------------------------------------------------------------*/
.btn-social {
	text-align: center;
	margin-top: 10px;
}

/*--------------------------------------------------------------------------
	Form AJAX Validation
--------------------------------------------------------------------------*/

.field_with_errors {
	display: inline;
	color: red;
}