<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="<%= @user_account.summary %>">
	<meta name="author"      content="<%= @user_account.name %>">
	<meta name="keywords" content="Maker <%= @user_tags.join(" ") %>" />

	<title><%= @user_account.name %> | Makerz.io</title>

	<link rel="apple-touch-icon" sizes="180x180" href="https://docs.google.com/drawings/d/1laG4hzPJo_eV6lVsIXdfrLS8q7bPnw8JKMcJgmgldQ8/pub?w=180&amp;h=180">
	<link rel="icon" type="image/png" href="https://docs.google.com/drawings/d/1laG4hzPJo_eV6lVsIXdfrLS8q7bPnw8JKMcJgmgldQ8/pub?w=180&amp;h=180">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<%= stylesheet_link_tag    "magister/all", media: "all", "data-turbolinks-track" => true %>
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>

	<%= csrf_meta_tags %>
</head>

<body class="theme-invert">

	<nav class="mainmenu">
		<div class="container">
			<div class="dropdown">
				<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li><a href="#head" class="active">Hello</a></li>
					<li><a href="#themes">Projects</a></li>
					<li><a href="#contact">Get in touch</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<section class="section" id="head">
		<div class="container">

			<div class="row">
				<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

					<!-- Site Title, your name, HELLO msg, etc. -->
					<h1 class="title"><%= @user_account.name %></h1>
					<h2 class="subtitle"><%= @universal_makerz_statement %></h2>

					<!-- Short introductory (optional) -->
					<% unless has_no_contents? @user_account %>
						<h3 class="tagline">
							<%= @user_account.summary %>
						</h3>
					<% end %>

				</div> <!-- /col -->
			</div> <!-- /row -->

		</div>
	</section>

	<section class="section" id="themes">
		<div class="container">

			<h2 class="text-center title">Masterpieces</h2>

			<div class="row">
				<p class="lead text-center">
					These are my past creation
				</p>
				<% unless has_no_contents? @projects %>
					<% @projects.each_with_index do |project, index| %>
						<%= render 'project_model', project: project %>

						<% if index.even? %>
							<div class="col-sm-offset-2 col-sm-4">
						<% else %>
							<div class="col-sm-4">
						<% end %>
								<div class="thumbnail">
									<% unless has_no_contents? project.photos.first %>
										<img src="<%= project.photos.first.url %>" alt="<%= project.title %>.img"></img>
									<% else %>
										<img src="<%= @default_picture %>" alt="<%= project.title %>.img">
									<% end %>

									<div class="caption">
										<h3><%= project.title %></h3>
										<p><%= project.description[0..50] %></p>

										<p><a href="#" class="btn btn-default" role="button" data-toggle="modal" data-target="#profile-project-<%= project.id %>">Read More</a></p>
									</div>
								</div>
							</div>
					<% end %>
				<% else %>
					<p class="lead text-center">
						Coming Soon. Stay Tuned!
					</p>
				<% end %>
			</div>

		</div>
	</section>

	<section class="section" id="contact">
		<div class="container">

			<h2 class="text-center title">Get in touch</h2>

			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<p class="lead">Have a question about this template, or want to suggest a new feature?</p>
					<br><br>
					<ul class="list-inline list-social">
						<% unless has_no_contents? @user_account.twitter_link %>
							<li><a href="<%= @user_account.twitter_link %>" class="btn btn-link"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
						<% end %>
						<% unless has_no_contents? @user_account.facebook_link %>
							<li><a href="<%= @user_account.facebook_link %>" class="btn btn-link"><i class="fa fa-facebook fa-fw"></i> Facebook</a></li>
						<% end %>
						<% unless has_no_contents? @user_account.linkedIn_link %>
							<li><a href="<%= @user_account.linkedIn_link %>" class="btn btn-link"><i class="fa fa-linkedin fa-fw"></i> LinkedIn</a></li>
						<% end %>
						<% unless has_no_contents? @user_account.google_plus_link %>
							<li><a href="<%= @user_account.google_plus_link %>" class="btn btn-link"><i class="fa fa-google-plus fa-fw"></i> Google+</a></li>
						<% end %>
						<% if 	has_no_contents?(@user_account.twitter_link) &&
								has_no_contents?(@user_account.linkedIn_link) &&
								has_no_contents?(@user_account.google_plus_link) &&
								has_no_contents?(@user_account.facebook_link)
						%>
							<li><h2>Hold on.. I'm getting them in soon.</h2></li>
						<% end %>
					</ul>
				</div>
			</div>

		</div>
	</section>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<%= javascript_include_tag "magister/all", "data-turbolinks-track" => true %>
</body>