section#user-account-dashboard .btn {
	width: 100%;
	min-width: 10%;
	min-height: 100px;
	margin: 0 auto 20px auto;

	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28;

	-webkit-box-shadow: 0px 14px 14px 0px rgba(150, 150, 150, 0.8);
	box-shadow:         0px 14px 14px 0px rgba(150, 150, 150, 0.8);
}
section#user-account-dashboard .btn h4 {
	margin-top: 30px;
	color: #FFF;
}
section#user-account-dashboard .btn h4.contrast {
	color: #000;
}
section#user-account-dashboard .btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(225deg, #3cb0fd, #FFF);
  background-image: -moz-linear-gradient(225deg, #3cb0fd, #FFF);
  background-image: -ms-linear-gradient(225deg, #3cb0fd, #FFF);
  background-image: -o-linear-gradient(225deg, #3cb0fd, #FFF);
  background-image: linear-gradient(225deg, #3cb0fd, #FFF);
}
section#user-account-dashboard .btn:hover p {
  color: #000;
}