<%= devise_error_messages! %>
<% if notice %>
	<div id='flash-message' data-msg="<%= notice %>" data-notice="success"></div>
<% end %>
<% if alert %>
	<div id='flash-message' data-msg="<%= alert %>" data-notice="warning"></div>
<% end %>
