<footer id='footer' class='footer'>
	<div class="row">
		<div class="container-fluid">
			<div class="col-lg-12 text-center">

				<ul class="list-inline">
					<li><%= link_to 'Privacy Policy', privacy_path %></li>
					<li><%= link_to 'Terms of Service', terms_of_services_path %></li>
					<li><%= link_to 'Contact Us', contact_us_path %></li>
				</ul>
				<p class="copyright text-sm text-muted">
					&copy; 2015. All rights reserved.
				</p>
			</div>
		</div>
	</div>
	<%= render 'layouts/partials/common/body/analytics' %>
</footer>