<!-- Navigation & Logo-->
<nav class='navbar navbar-classic navbar-fixed-top'>
	<div class='container-fluid'>
		<div class='navbar-header'>
			<%= link_to "http://makerz.io", class: 'navbar-brand' do %>
				<img class="nav-bar-logo" src="https://docs.google.com/drawings/d/1lh8KqN9wJUkqFyZfmccqtlE1rZ7NeD_V3H9vFkPcAQM/pub?w=1892&amp;h=532" alt="Makerz.io"></img>
			<% end %>
			<button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
		</div>
		<div id='navbar' class='navbar-collapse collapse'>
			<ul class='nav navbar-nav navbar-right'>
				<% if current_user  %>
					<li><%#= link_to 'Theme store', themes_path %></li>
					<li class="cart-text" ><%#= render 'layouts/partials/common/body/cart_text' %></li>
					<li><%= link_to 'Dashboard', "http://makerz.io" %></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><%= link_to 'Edit profile', edit_user_registration_path  %></li>
							<% if current_user.provider.nil?  %>
								<li><%= link_to 'Edit password', edit_user_path  %></li>
							<% end %>
							<li class="divider"></li>
							<li><%= link_to 'Logout', destroy_user_session_path  %></li>
						</ul>
					</li>
				<% else %>
					<li><%= link_to 'Home', root_path %></li>
					<li><%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success' %></li>
					<li><%= link_to 'Login', new_user_session_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>