<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="<%= @page_description unless @page_description.nil? %>">
		<meta name="author" content="<%= @page_author || "Makerz.io" %>" />

		<title>Makerz.io | <%= @page_title unless @page_title.nil? %> </title>

		<%= render 'layouts/partials/common/early_css' %>
		<%= render 'layouts/partials/common/early_js' %>
		<%= csrf_meta_tags %>
	</head>

	<%= yield %>
</html>