.theme-option-item {
	padding: 30px;
	max-width: 250px;
	-webkit-border-radius:	12px;
	-moz-border-radius:		12px;
	border-radius:			12px;

	margin-left: auto;
	margin-right: auto;

	color: #F1F2B5;
	background-color: #0c1424;
}
.theme-option-item img {
	width: 100%;

	margin-left: 0;
	margin-right: auto;
}
.theme-shopping {
	background-color: #27ae60;
}
.theme-option .invisible-input-radio {
	display: none;
}
.theme-option.active {
	background-color: #2ecc71;
}
.theme-option.active h4 {
	color: #000;
}