.product-item {
	background-color: #ecf0f1;

	max-width: 280px;

	padding: 10px;
	margin-left: auto;
	margin-right: auto;

	-webkit-border-radius:	10px;
	-moz-border-radius:		10px;
	border-radius:			10px;
}
.product-item .product-image {
	width: 100%;
}
.product-item .product-font {
	word-wrap: break-word;
}
.product-item .product-title {
	font-size: 2em;
}
.product-item .product-sub-title {
	font-size: 0.8em;
}
.product-item .product-price .price-value {
	color: green;
}
.cart-item {
	background-color: #ecf0f1;

	padding: 10px;
	margin-left: auto;
	margin-right: auto;

	-webkit-border-radius:	10px;
	-moz-border-radius:		10px;
	border-radius:			10px;
}
.cart-price {
	color: green;
	text-align: right;
}
.cart-footprint {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}